<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：vmes_assist_sign:外协签收单 Mapper.xml
创建人：陈刚 自动创建
创建时间：2020-05-04
 -->
<mapper namespace="com.xy.vmes.deecoop.assist.dao.AssistSignMapper">

    <!-- 批量删除 自动创建，禁止修改-->
    <delete id="deleteByIds" parameterType="java.lang.String">
        delete from vmes_assist_sign
        where id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
		#{item}
        </foreach>
    </delete>

    <!-- 自动创建，禁止修改-->
    <update id="updateToDisableByIds" parameterType="java.lang.String" >
        update vmes_assist_sign
        set isdisable = '0' ,udate = now()
        where id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
        #{item}
        </foreach>
    </update>

    <!-- ***************************************************以上为自动生成代码禁止修改，请在下面添加业务代码************************************************* -->
    <insert id="insertColumn" >
        delete from vmes_column where model_code = 'assistSign' ;
        insert into vmes_column (
        id,model_code,title_key,title_name,serial_number,
        isdisable,ishide,isedit,ismust,cdate,
        cuser
        ) VALUES
            (replace(uuid(), '-', ''),'assistSign','id','id',0, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistSign','companyId','企业id',1, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistSign','orderId','外协订单id',2, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistSign','sysCode','签收单号(系统生成)',3, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistSign','custCode','签收单号(用户自定义单号)',4, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistSign','signId','签收人id',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistSign','signDate','签收日期(yyyy-MM-dd)',6, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistSign','state','状态(1:检验中 2:已完成 -1:已取消)',7, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistSign','cuser','创建用户id',8, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistSign','cdate','创建时间',9, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistSign','uuser','修改用户id',10, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistSign','udate','修改时间',11, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistSign','remark','备注',12, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistSign','isdisable','是否启用(0:已禁用 1:启用)',13, '1','1','1','0',now(), 'admin'),

            (replace(uuid(), '-', ''),'assistSign','stateName','状态',14, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistSign','orderCode','外协单号',15, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistSign','supplierName','供应商',16, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistSign','supplierId','供应商id',16, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistSign','signUserName','签收人',17, '1','1','1','0',now(), 'admin'),

            (replace(uuid(), '-', ''),'assistSign','isShowEdit','是否显示修改按钮',18, '1','0','1','0',now(), 'admin'),
    </insert>


    <!-- 列表(全部) 自动创建，禁止修改-->
    <select id="dataList" parameterType="com.yvan.PageData" resultType="com.xy.vmes.entity.AssistSign">
        select
        id id,
        company_id companyId,
        order_id orderId,
        sys_code sysCode,
        cust_code custCode,

        sign_id signId,
        sign_date signDate,
        state state,
        cuser cuser,
        cdate cdate,

        uuser uuser,
        udate udate,
        remark remark,
        isdisable isdisable
        from vmes_assist_sign
        <where>
            <!--isSelfExist 是否考虑自己在业务表中是否存在
                false: (false or is null) 无需考虑自己在业务表中是否存在
                true : 需要考虑自己在业务表中是否存在
            -->
            <if test='id != null and id != ""' >
                <choose>
                    <when test="'true' == isSelfExist">
                        <![CDATA[ and id <> #{id} ]]>
                    </when>
                    <otherwise>
                        and id = #{id}
                    </otherwise>
                </choose>
            </if>


            <!--queryStr 自定义sql查询语句-->
            <if test='queryStr != null and queryStr != ""'>
                and ${queryStr}
            </if>
        </where>
        <if test='orderStr != null and orderStr != ""' >
            order by ${orderStr}
        </if>
    </select>

    <!-- 自动创建，可以修改 -->
    <select id="getDataListPage" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
            sign.id id,
            sign.company_id companyId,
            sign.order_id orderId,
            sign.sys_code sysCode,
            sign.cust_code custCode,

            sign.sign_id signId,
            DATE_FORMAT(sign.sign_date,'%Y-%m-%d') signDate,
            sign.state state,
            sign.cuser cuser,
            sign.cdate cdate,

            sign.uuser uuser,
            sign.udate udate,
            sign.remark remark,
            sign.isdisable isdisable,

            CASE
            WHEN sign.state = '1' THEN '检验中'
            WHEN sign.state = '2' THEN '已完成'
            WHEN sign.state = '-1' THEN '已取消'
            ELSE null
            END stateName,

            signUser.user_name signUserName,
            assistOrder.sys_code orderCode,
            assistOrder.supplier_id supplierId,
            supplier.name supplierName,

            <!-- java类获取数据(isShowEdit) -->
            '' isShowEdit

        from vmes_assist_sign sign
            left join vmes_assist_order assistOrder on sign.order_id = assistOrder.id
            left join vmes_customer supplier on assistOrder.supplier_id = supplier.id
            left join vmes_user signUser on sign.sign_id = signUser.id
        <where>
            <if test="currentCompanyId != null and currentCompanyId != ''" >
                and sign.company_id = #{currentCompanyId}
            </if>
            <if test="signState != null and signState != ''">
                and sign.state = #{signState}
            </if>

            <!-- 界面查询条件 -->
            <if test="sysCode != null and sysCode != ''">
                and sign.sys_code LIKE CONCAT(CONCAT('%', #{sysCode}),'%')
            </if>
            <if test="orderCode != null and orderCode != ''">
                and assistOrder.sys_code LIKE CONCAT(CONCAT('%', #{orderCode}),'%')
            </if>
            <if test="supplierName != null and supplierName != ''">
                and supplier.name LIKE CONCAT(CONCAT('%', #{supplierName}),'%')
            </if>

            <!--queryStr 自定义sql查询语句-->
            <if test='queryStr != null and queryStr != ""' >
                and ${queryStr}
            </if>

        </where>
        <if test='orderStr != null and orderStr != ""' >
            order by ${orderStr}
        </if>
    </select>

</mapper>