<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：外协模块公共查询
创建人：陈刚
创建时间：2020-05-14
 -->
<mapper namespace="com.xy.vmes.deecoop.common.AssistCommonMapper">

    <!--按(外协订单)汇总 (原材料)报废 -->
    <sql id="findAssistDiscardProductByOrder">
        select
            c.orderDtl_child_id,
            sum(a.order_count) order_count
        from vmes_assist_discard_detail a
            left join vmes_assist_discard b on a.parent_id = b.id
            left join vmes_assist_deliver_detail_child c on a.deliver_dtl_child_id = c.id
        <where>
            <if test="orderId != null and orderId != ''">
                and a.order_id = #{orderId}
            </if>
            <if test="orderDtlId != null and orderDtlId != ''">
                and a.order_dtl_id = #{orderDtlId}
            </if>

            <!--state:状态(0:待提交 1:待审核 2:待报废 3:已完成 -1:已取消)-->
            and b.state = '3'
            <!--报废类型(1:外协件 2:外协原材料)-->
            and b.type = '2'
        </where>
        group by c.orderDtl_child_id
    </sql>

    <!--按(外协订单)汇总 (外协件:成品)报废 -->
    <sql id="findAssistDiscardByOrder">
        select
            c.id orderDtl_child_id,
            round((ifnull(c.ratio, 0) * ifnull(sum(a.order_count), 0)),2) order_count
        from vmes_assist_discard_detail a
            left join vmes_assist_discard b on a.parent_id = b.id
            left join vmes_assist_order_detail_child c on a.order_dtl_id = c.order_dtl_id
        <where>
            <if test="orderId != null and orderId != ''">
                and a.order_id = #{orderId}
            </if>
            <if test="orderDtlId != null and orderDtlId != ''">
                and a.order_dtl_id = #{orderDtlId}
            </if>

            <!--state:状态(0:待提交 1:待审核 2:待报废 3:已完成 -1:已取消)-->
            and b.state = '3'
            <!--报废类型(1:外协件 2:外协原材料)-->
            and b.type = '1'
        </where>
        group by c.id
    </sql>

    <!--(外协件:成品)签收(检验) 收货合格数(签收数-退货数-报废) + 报废数 -->
    <sql id="findAssistSignByOrder">
        select
            orderChild.id orderDtl_child_id,
            round((ifnull(orderChild.ratio, 0) * (ifnull(signDtl.sign_fine_count, 0) + ifnull(signDtl.discard_count, 0))),2) order_count
        from (
            select
                order_detail_id,
                sum(sign_fine_count) sign_fine_count,
                sum(discard_count) discard_count

            from vmes_assist_sign_detail
            <where>
                <if test="orderId != null and orderId != ''">
                    and order_id = #{orderId}
                </if>
                <if test="orderDtlId != null and orderDtlId != ''">
                    and order_detail_id = #{orderDtlId}
                </if>
                <!-- state:状态(1:检验中 2:已完成 -1:已取消) -->
                and state = '2'
            </where>
            group by order_detail_id
        ) signDtl
            left join vmes_assist_order_detail_child orderChild on signDtl.order_detail_id = orderChild.order_dtl_id
    </sql>

    <!--(外协件:成品)签收(检验) 汇总sign_fine_count:收货合格数(签收数-退货数-报废) -->
    <sql id="findAssistSignfineByOrder">
        select
            orderChild.id orderDtl_child_id,
            round((ifnull(orderChild.ratio, 0) * ifnull(signDtl.sign_fine_count, 0)),2) order_count
        from (
            select
                order_detail_id,
                sum(sign_fine_count) sign_fine_count
            from vmes_assist_sign_detail
            <where>
                <if test="orderId != null and orderId != ''">
                    and order_id = #{orderId}
                </if>
                <if test="orderDtlId != null and orderDtlId != ''">
                    and order_detail_id = #{orderDtlId}
                </if>
                <!-- state:状态(1:检验中 2:已完成 -1:已取消) -->
                and state = '2'
            </where>
            group by order_detail_id
        ) signDtl
        left join vmes_assist_order_detail_child orderChild on signDtl.order_detail_id = orderChild.order_dtl_id
    </sql>

    <!--(外协件:成品)签收(检验) 汇总 discard_count: -->
    <sql id="findAssistSignDiscardByOrder">
        select
            orderChild.id orderDtl_child_id,
            round((ifnull(orderChild.ratio, 0) * ifnull(signDtl.discard_count, 0)),2) order_count
        from (
            select
                order_detail_id,
                sum(discard_count) discard_count
            from vmes_assist_sign_detail
            <where>
                <if test="orderId != null and orderId != ''">
                    and order_id = #{orderId}
                </if>
                <if test="orderDtlId != null and orderDtlId != ''">
                    and order_detail_id = #{orderDtlId}
                </if>
                <!-- state:状态(1:检验中 2:已完成 -1:已取消) -->
                and state = '2'
            </where>
            group by order_detail_id
        ) signDtl
            left join vmes_assist_order_detail_child orderChild on signDtl.order_detail_id = orderChild.order_dtl_id
    </sql>

    <!--(原材料)退货(检验) 汇总 order_count:退货数量 -->
    <sql id="findAssistRetreatProductSignByOrder">
        select
            deliverChild.orderDtl_child_id,
            round(ifnull(retreatDtl.order_count, 0), 2) order_count
        from (
            select
                a.deliver_dtl_child_id,
                sum(a.order_count) order_count
            from vmes_assist_retreat_detail a
                left join vmes_assist_retreat b on a.parent_id = b.id
            <where>
                <if test="orderId != null and orderId != ''">
                    and a.order_id = #{orderId}
                </if>
                <if test="orderDtlId != null and orderDtlId != ''">
                    and a.order_dtl_id = #{orderDtlId}
                </if>

                <!--state:状态(0:待提交 1:待审核 2:待退货 3:已完成 -1:已取消)-->
                and b.state = '3'
                <!--type:退货类型(1:外协件 2:外协原材料)-->
                and b.type = '2'
            </where>
            group by a.deliver_dtl_child_id
        ) retreatDtl
            left join vmes_assist_deliver_detail_child deliverChild on retreatDtl.deliver_dtl_child_id = deliverChild.id
    </sql>

    <!--(原材料)退货(检验) 汇总 sign_fine_count:收货合格数(签收数-报废数) -->
    <sql id="findAssistRetreatProductByOrder">
        select
            deliverChild.orderDtl_child_id,
            round(ifnull(retreatDtl.sign_fine_count, 0),2) order_count
        from (
            select
                a.deliver_dtl_child_id,
                sum(a.sign_fine_count) sign_fine_count
            from vmes_assist_retreat_detail a
                left join vmes_assist_retreat b on a.parent_id = b.id
            <where>
                <if test="orderId != null and orderId != ''">
                    and a.order_id = #{orderId}
                </if>
                <if test="orderDtlId != null and orderDtlId != ''">
                    and a.order_dtl_id = #{orderDtlId}
                </if>

                <!--state:状态(0:待提交 1:待审核 2:待退货 3:已完成 -1:已取消)-->
                and b.state = '3'
                <!--type:退货类型(1:外协件 2:外协原材料)-->
                and b.type = '2'
            </where>
            group by a.deliver_dtl_child_id
        ) retreatDtl
            left join vmes_assist_deliver_detail_child deliverChild on retreatDtl.deliver_dtl_child_id = deliverChild.id
    </sql>

    <!--================================================================================================================ -->
    <!--外协收货明细子表(原材料) 汇总  -->
    <sql id="findAssistDeliverDetailChildByOrder">
        select
            b.orderDtl_child_id,
            sum(b.count) deliverCount
        from vmes_assist_deliver_detail a
            left join vmes_assist_deliver_detail_child b on a.id = b.deliver_dtl_id
        <where>
            <if test="orderId != null and orderId != ''">
                and a.order_id = #{orderId}
            </if>
            <if test="orderDtlId != null and orderDtlId != ''">
                and a.order_detail_id = #{orderDtlId}
            </if>
            <!--state:状态(0:待发货 1:已发货 -1:已取消)-->
            and a.state = '1'
        </where>
        group by b.orderDtl_child_id
    </sql>

</mapper>