<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：vmes_assist_order_detail_child:外协订单明细子表 Mapper.xml
创建人：陈刚 自动创建
创建时间：2020-04-24
 -->
<mapper namespace="com.xy.vmes.deecoop.assist.dao.AssistOrderDetailChildMapper">

    <!-- 批量删除 自动创建，禁止修改-->
    <delete id="deleteByIds" parameterType="java.lang.String">
        delete from vmes_assist_order_detail_child
        where id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
		#{item}
        </foreach>
    </delete>

    <!-- 自动创建，禁止修改-->
    <update id="updateToDisableByIds" parameterType="java.lang.String" >
        update vmes_assist_order_detail_child
        set isdisable = '0' ,udate = now()
        where id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
        #{item}
        </foreach>
    </update>

    <!-- ***************************************************以上为自动生成代码禁止修改，请在下面添加业务代码************************************************* -->
    <insert id="insertColumn" >
        delete from vmes_column where model_code = 'assistOrderDetailChild' ;
        insert into vmes_column (
        id,model_code,title_key,title_name,serial_number,
        isdisable,ishide,isedit,ismust,cdate,
        cuser
        ) VALUES
            (replace(uuid(), '-', ''),'assistOrderDetailChild','orderId','外协订单id',1, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistOrderDetailChild','orderDtlId','外协订单明细id',2, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistOrderDetailChild','productId','原材料id(系统货品表id)',3, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistOrderDetailChild','unitId','单位id',4, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistOrderDetailChild','ratio','用料比例',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistOrderDetailChild','count','原材料数量(单据单位)',6, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistOrderDetailChild','cuser','创建用户id',7, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistOrderDetailChild','cdate','创建时间',8, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistOrderDetailChild','uuser','修改用户id',9, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistOrderDetailChild','udate','修改时间',10, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistOrderDetailChild','remark','备注',11, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistOrderDetailChild','isdisable','是否启用(0:已禁用 1:启用)',12, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistOrderDetailChild','id','id',0, '1','1','1','0',now(), 'admin')
    </insert>


    <insert id="insertAssistOrderDetailChild" parameterType="com.yvan.PageData" useGeneratedKeys="true" keyProperty="id">
        insert into vmes_assist_order_detail_child (
            id,order_id,order_dtl_id,product_id,unit_id,
            ratio,count,remark,cuser,cdate,uuser,udate
        )
        select
            replace(tab.id, '-', ''),orde_id,order_dtl_id,product_id,unit_id,
            round(ifnull(ratio, 0),2) ratio,
            round((round(ifnull(ratio, 0),2) * round(ifnull(count, 0),2)), 2) count,
            remark,cuser,cdate,uuser,udate
        from (
            select
                uuid() id,#{orderId} orde_id,#{orderDtlId} order_dtl_id,product_id,unit_id,
                ratio,#{orderCount} count,
                remark,#{cuser} cuser,now() cdate,#{uuser} uuser,now() udate
            from vmes_assist_product_detail
            where parent_id = #{assistProductId}
            group by id
        )tab
    </insert>

    <!-- 列表(全部) 自动创建，禁止修改-->
    <select id="dataList" parameterType="com.yvan.PageData" resultType="com.xy.vmes.entity.AssistOrderDetailChild">
        select
        id id,
        order_id orderId,
        order_dtl_id orderDtlId,
        product_id productId,
        unit_id unitId,

        ratio ratio,
        count count,
        cuser cuser,
        cdate cdate,
        uuser uuser,

        udate udate,
        remark remark,
        isdisable isdisable
        from vmes_assist_order_detail_child
        <where>
            <!--isSelfExist 是否考虑自己在业务表中是否存在
                false: (false or is null) 无需考虑自己在业务表中是否存在
                true : 需要考虑自己在业务表中是否存在
            -->
            <if test='id != null and id != ""' >
                <choose>
                    <when test="'true' == isSelfExist">
                        <![CDATA[ and id <> #{id} ]]>
                    </when>
                    <otherwise>
                        and id = #{id}
                    </otherwise>
                </choose>
            </if>


            <!--queryStr 自定义sql查询语句-->
            <if test='queryStr != null and queryStr != ""'>
                and ${queryStr}
            </if>
        </where>
        <if test='orderStr != null and orderStr != ""' >
            order by ${orderStr}
        </if>
    </select>

    <!-- 自动创建，可以修改 -->
    <select id="getDataListPage" parameterType="com.yvan.PageData"  resultType="java.util.Map">
        select
        id id,
        order_id orderId,
        order_dtl_id orderDtlId,
        product_id productId,
        unit_id unitId,

        ratio ratio,
        count count,
        cuser cuser,
        cdate cdate,
        uuser uuser,

        udate udate,
        remark remark,
        isdisable isdisable
        from vmes_assist_order_detail_child
        <where>
            <!--queryStr 自定义sql查询语句-->
            <if test='queryStr != null and queryStr != ""' >
                and ${queryStr}
            </if>
            <if test='code != null and code != ""'>
                and code LIKE CONCAT(CONCAT('%', #{code}),'%')
            </if>
            <if test='name != null and name != ""'>
                and name LIKE CONCAT(CONCAT('%', #{name}),'%')
            </if>
        </where>
        <if test='orderStr != null and orderStr != ""' >
            order by ${orderStr}
        </if>
    </select>

    <!-- 根据(外协订单id) 汇总查询取外协件原材料 -->
    <select id="findCheckAssistOrderChild" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
            orderChild.id orderDtlChildId,
            orderChild.order_id orderId,
            orderChild.count orderCount,
            round(ifnull(assist.order_count, 0),2) assistCount,

            planDtl.parent_id planId,
            orderDtl.plan_detail_id planDtlId
        from vmes_assist_order_detail_child orderChild
            left join vmes_assist_order_detail orderDtl on orderChild.order_id = orderDtl.parent_id
            left join vmes_assist_plan_detail planDtl on orderDtl.plan_detail_id = planDtl.id
            left join (
                select
                    temp.order_id,
                    temp.orderDtl_child_id,
                    sum(temp.order_count) order_count
                from (
                    <!--按(外协订单)汇总 (原材料)报废 findAssistDiscardProductByOrder (companyId supplierId orderId)-->
                    <include refid="com.xy.vmes.deecoop.common.AssistCommonMapper.findAssistDiscardProductByOrder"></include>
                    union all
                    <!--按(外协订单)汇总 (外协件:成品)报废 findAssistDiscardByOrder (companyId supplierId orderId)-->
                    <include refid="com.xy.vmes.deecoop.common.AssistCommonMapper.findAssistDiscardByOrder"></include>
                    union all
                    <!--(外协件:成品)签收(检验) findAssistSignByOrder(orderId) (汇总sign_fine_count:收货合格数(签收数-退货数-报废))-->
                    <include refid="com.xy.vmes.deecoop.common.AssistCommonMapper.findAssistSignByOrder"></include>
                    union all
                    <!--(原材料)退货(检验) findAssistRetreatProductByOrder(companyId supplierId orderId) (汇总sign_fine_count:收货合格数(签收数-报废数))-->
                    <include refid="com.xy.vmes.deecoop.common.AssistCommonMapper.findAssistRetreatProductByOrder"></include>
                ) temp
                group by temp.order_id,temp.orderDtl_child_id
            ) assist on orderChild.id = assist.orderDtl_child_id and orderChild.order_id = assist.order_id
        <where>
            <if test="orderId != null and orderId != ''">
                and orderChild.order_id = #{orderId}
            </if>
        </where>
    </select>


</mapper>