<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：:外协件初始化 Mapper.xml
创建人：陈刚
创建时间：2020-05-13
 -->
<mapper namespace="com.xy.vmes.deecoop.assist.dao.AssistInitialMapper">

    <delete id="deleteAssistByInitial" parameterType="com.yvan.PageData" >
        <if test='currentCompanyId != null and currentCompanyId != ""'>

            <!--入库单 (vmes_assist_sign_detail) quality_inDtl_id: receive_inDtl_id:-->
            DELETE FROM vmes_warehouse_in WHERE id in (
                select parent_id
                from vmes_warehouse_in_detail
                where id in  (
                    select quality_inDtl_id
                    from vmes_assist_sign_detail
                    where parent_id in (
                        select id
                        from vmes_assist_sign
                        where company_id = #{currentCompanyId}
                    ) and quality_inDtl_id is not null
                    union all
                    select receive_inDtl_id
                    from vmes_assist_sign_detail
                    where parent_id in (
                        select id
                        from vmes_assist_sign
                        where company_id = #{currentCompanyId}
                    ) and receive_inDtl_id is not null
                )
            );

            <!--入库单明细 quality_inDtl_id: receive_inDtl_id:-->
            DELETE FROM vmes_warehouse_in_detail WHERE id in (
                select quality_inDtl_id
                from vmes_assist_sign_detail
                where parent_id in (
                    select id
                    from vmes_assist_sign
                    where company_id = #{currentCompanyId}
                ) and quality_inDtl_id is not null
                union all
                select receive_inDtl_id
                from vmes_assist_sign_detail
                where parent_id in (
                    select id
                    from vmes_assist_sign
                    where company_id = #{currentCompanyId}
                ) and receive_inDtl_id is not null
            );

            <!--入库单 (vmes_assist_retreat_detail) quality_inDtl_id: receive_inDtl_id:-->
            DELETE FROM vmes_warehouse_in WHERE id in (
                select parent_id
                from vmes_warehouse_in_detail
                where id in  (
                    select quality_inDtl_id
                    from vmes_assist_retreat_detail
                    where parent_id in (
                        select id
                        from vmes_assist_retreat
                        where company_id = #{currentCompanyId}
                    ) and quality_inDtl_id is not null
                    union all
                    select receive_inDtl_id
                    from vmes_assist_retreat_detail
                    where parent_id in (
                        select id
                        from vmes_assist_retreat
                        where company_id = #{currentCompanyId}
                    ) and receive_inDtl_id is not null
                )
            );

            <!--入库单明细 quality_inDtl_id: receive_inDtl_id:-->
            DELETE FROM vmes_warehouse_in_detail WHERE id in (
                select quality_inDtl_id
                from vmes_assist_retreat_detail
                where parent_id in (
                    select id
                    from vmes_assist_retreat
                    where company_id = #{currentCompanyId}
                ) and quality_inDtl_id is not null
                union all
                select receive_inDtl_id
                from vmes_assist_retreat_detail
                where parent_id in (
                    select id
                    from vmes_assist_retreat
                    where company_id = #{currentCompanyId}
                ) and receive_inDtl_id is not null
            );

            <!--=========================================================================================-->
            <!--出库单 out_dtl_id:-->
            DELETE FROM vmes_warehouse_out WHERE id in (
                select parent_id
                from vmes_warehouse_out_detail
                where id in  (
                    select out_dtl_id
                    from vmes_assist_deliver_detail_child
                    where deliver_id in (
                        select id
                        from vmes_assist_deliver
                        where company_id = #{currentCompanyId}
                    ) and out_dtl_id is not null
                )
            );

            DELETE FROM vmes_warehouse_out_detail WHERE id in (
                select out_dtl_id
                from vmes_assist_deliver_detail_child
                where deliver_id in (
                    select id
                    from vmes_assist_deliver
                    where company_id = #{currentCompanyId}
                ) and out_dtl_id is not null
            );

            <!--外协计划 =========================================================================================-->
            DELETE FROM vmes_assist_plan_detail_child WHERE plan_dtl_id in (
                select id
                from vmes_assist_plan_detail
                where parent_id in (
                    select id
                    from vmes_assist_plan
                    where company_id = #{currentCompanyId}
                )
            );

            DELETE FROM vmes_assist_plan_detail WHERE parent_id in (
                select id
                from vmes_assist_plan
                where company_id = #{currentCompanyId}
            );

            DELETE FROM vmes_assist_plan WHERE company_id = #{currentCompanyId};

            <!--外协订单=========================================================================================-->
            DELETE FROM vmes_assist_order_detail_child WHERE order_id in (
                select id
                from vmes_assist_order
                where company_id = #{currentCompanyId}
            );

            DELETE FROM vmes_assist_order_detail WHERE parent_id in (
                select id
                from vmes_assist_order
                where company_id = #{currentCompanyId}
            );

            DELETE FROM vmes_assist_order WHERE company_id = #{currentCompanyId};

            <!--外协发货单=========================================================================================-->
            DELETE FROM vmes_assist_deliver_detail_child WHERE deliver_id in (
                select id
                from vmes_assist_deliver
                where company_id = #{currentCompanyId}
            );

            DELETE FROM vmes_assist_deliver_detail WHERE parent_id in (
                select id
                from vmes_assist_deliver
                where company_id = #{currentCompanyId}
            );

            DELETE FROM vmes_assist_deliver WHERE company_id = #{currentCompanyId};


            <!--外协签收单 =========================================================================================-->
            DELETE FROM vmes_assist_sign_quality_detail WHERE sign_detail_id in (
                select id
                from vmes_assist_sign_detail
                where parent_id in (
                    select id
                    from vmes_assist_sign
                    where company_id = #{currentCompanyId}
                )
            );

            DELETE FROM vmes_assist_sign_detail WHERE parent_id in (
                select id
                from vmes_assist_sign
                where company_id = #{currentCompanyId}
            );

            DELETE FROM vmes_assist_sign WHERE company_id = #{currentCompanyId};

            <!--外协退货单 =========================================================================================-->
            DELETE FROM vmes_assist_retreat_detail WHERE parent_id in (
                select id
                from vmes_assist_retreat
                where company_id = #{currentCompanyId}
            );

            DELETE FROM vmes_assist_retreat WHERE company_id = #{currentCompanyId};

            <!--外协报废单 =========================================================================================-->
            DELETE FROM vmes_assist_discard_detail WHERE parent_id in (
                select id
                from vmes_assist_discard
                where company_id = #{currentCompanyId}
            );

            DELETE FROM vmes_assist_discard WHERE company_id = #{currentCompanyId};

            <!--外协财务单据=========================================================================================-->
<!--
单据类型 ( 0:收款单(销售) 1:付款单(采购) 2:减免单(销售) 3:退款单(销售) 4:发货账单(销售) 5:退货账单(销售) 6:收货账单(采购) 7:扣款单(采购) 8:应收单(销售) 9:退款单(采购) 10:应付单(采购) 11:收货账单(外协) 12:退款单(外协) 13:扣款单(外协))
销售(客户)  : 0:收款单(销售) 2:减免单(销售) 3:退款单(销售) 4:发货账单(销售) 5:退货账单(销售) 8:应收单(销售)
采购(供应商): 1:付款单(采购) 6:收货账单(采购) 7:扣款单(采购) 9:退款单(采购) 10:应付单(采购)
外协(供应商): 11:收货账单(外协) 12:退款单(外协) 13:扣款单(外协)
-->
            DELETE FROM vmes_finance_bill WHERE customer_id in (
            where company_id = #{currentCompanyId} and type in ('11','12','13')

        </if>
    </delete>
</mapper>