<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：vmes_assist_plan_detail:外协计划明细 外协-订单管理-订单列表-(外协计划明细)勾选  Mapper.xml
创建人：陈刚
创建时间：2020-04-19
 -->
<mapper namespace="com.xy.vmes.deecoop.assist.dao.AssistPlanDetailByAssistOrderMapper">
    <select id="listAssistPlanDetailByAssistOrder" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
            md5(uuid()) id,
            planDtl.id planDtlId,
            planDtl.parent_id parentId,
            planDtl.assist_product_id assistProductId,
            planDtl.order_unit orderUnit,
            planDtl.count count,
            planDtl.plan_date planDate,
            planDtl.state state,
            planDtl.isdisable isdisable,

            assistProd.product_name assistProductName,
            prodUnit.unit productUnit,
            prodUnitName.name productUnitName,

            <!--外协工艺名称-->
            craft.sys_code craftCode,
            craft.name craftName,
            <!--外协供应商-->
            round(ifnull(supplier.price, 0), <include refid="com.xy.vmes.deecoop.common.CommonMapper.SYS_PRICE_DEFAULT"></include>) price,
            round(ifnull(supplier.loss_ratio, 0),2) lossRatio

        from vmes_assist_plan_detail planDtl
            left join vmes_assist_product assistProd on planDtl.assist_product_id = assistProd.id and assistProd.isdisable = '1'
            left join vmes_assist_craft craft on assistProd.craft_id = craft.id and craft.isdisable = '1'
            left join vmes_product_unit prodUnit on assistProd.product_id = prodUnit.product_id and prodUnit.type = 1
            left join vmes_dictionary prodUnitName on prodUnit.unit = prodUnitName.id
            left join (
                select
                    assist_product_id,
                    price,
                    loss_ratio
                from vmes_assist_supplier
                <where>
                    <if test="supplierId != null and supplierId != ''" >
                        and supplier_id = #{supplierId}
                    </if>
                    <if test="companyId != null and companyId != ''" >
                        and company_id = #{companyId}
                    </if>
                    <!--是否启用(0:已禁用 1:启用)-->
                    and isdisable = '1'
                </where>
            ) supplier on assistProd.id = supplier.assist_product_id

        <where>
            <if test="companyId != null and companyId != ''" >
                and planDtl.parent_id in (
                    select id
                    from vmes_assist_plan
                    <where>
                        <if test="companyId != null and companyId != ''" >
                            and company_id = #{companyId}
                        </if>
                        <!--state:状态(0:待提交 1:待审核 2:待执行 3:执行中 4:已完成 -1:已取消)-->
                        and state in ('2','3','4')
                        <!--是否启用(0:已禁用 1:启用)-->
                        and isdisable = '1'
                    </where>
                )
            </if>

        </where>
    </select>
</mapper>