<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：vmes_assist_discard_detail:外协报废明细 Mapper.xml
创建人：陈刚 自动创建
创建时间：2020-05-07
 -->
<mapper namespace="com.xy.vmes.deecoop.assist.dao.AssistDiscardDetailMapper">

    <!-- 批量删除 自动创建，禁止修改-->
    <delete id="deleteByIds" parameterType="java.lang.String">
        delete from vmes_assist_discard_detail
        where id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
		#{item}
        </foreach>
    </delete>

    <!-- 自动创建，禁止修改-->
    <update id="updateToDisableByIds" parameterType="java.lang.String" >
        update vmes_assist_discard_detail
        set isdisable = '0' ,udate = now()
        where id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
        #{item}
        </foreach>
    </update>

    <!-- ***************************************************以上为自动生成代码禁止修改，请在下面添加业务代码************************************************* -->
    <insert id="insertColumn" >
        delete from vmes_column where model_code = 'assistDiscardDetail' ;
        insert into vmes_column (
        id,model_code,title_key,title_name,serial_number,
        isdisable,ishide,isedit,ismust,cdate,
        cuser
        ) VALUES
            (replace(uuid(), '-', ''),'assistDiscardDetail','id','id',0, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistDiscardDetail','parentId','退货单',1, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistDiscardDetail','orderId','外协订单id',2, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistDiscardDetail','orderDtlId','订单明细id',3, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistDiscardDetail','deliverDtlChildId','发货明细子表id(原材料)',4, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistDiscardDetail','deliverDtlId','外协发货明细id',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistDiscardDetail','deliverId','外协发货id',6, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistDiscardDetail','assistProductId','外协件id(外协件)',7, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistDiscardDetail','productId','原材料id(系统货品表id)',8, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistDiscardDetail','orderUnit','订单单位id',9, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistDiscardDetail','orderCount','报废数量(订单单位)',10, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistDiscardDetail','price','单价(外协件)',11, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistDiscardDetail','amount','金额(外协件)',12, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistDiscardDetail','state','状态(0:待提交 1:待审核 2:待报废 3:已完成 -1:已取消)',13, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistDiscardDetail','cuser','创建用户id',14, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistDiscardDetail','cdate','创建时间',15, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistDiscardDetail','uuser','修改用户id',16, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistDiscardDetail','udate','修改时间',17, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistDiscardDetail','remark','备注',18, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'assistDiscardDetail','isdisable','是否启用(0:已禁用 1:启用)',19, '1','1','1','0',now(), 'admin'),

            (replace(uuid(), '-', ''), 'assistDiscardDetail', 'productCode', '货品编码', 20, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'assistDiscardDetail', 'productName', '货品名称', 21, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'assistDiscardDetail', 'productSpec', '规格型号', 22, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'assistDiscardDetail', 'productProperty', '自定义属性', 23, '1', '1', '1', '0', now(), 'admin'),

            (replace(uuid(), '-', ''), 'assistDiscardDetail', 'assistProdId', '外协件货品id', 24, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'assistDiscardDetail', 'assistProdName', '外协件', 25, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''),'assistDiscardDetail','craftName','工艺名称',26, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''), 'assistDiscardDetail', 'orderUnitName', '单位', 27, '1', '1', '1', '0', now(), 'admin'),
    </insert>

    <update id="updateStateByDetail" parameterType="com.yvan.PageData" >
        update vmes_assist_discard_detail set
        state = #{state},
        udate = now()
        <where>
            <if test="parentIds != null and parentIds != ''" >
                and parent_id in (${parentIds})
            </if>
        </where>
    </update>

    <!-- 列表(全部) 自动创建，禁止修改-->
    <select id="dataList" parameterType="com.yvan.PageData" resultType="com.xy.vmes.entity.AssistDiscardDetail">
        select
        id id,
        parent_id parentId,
        order_id orderId,
        order_dtl_id orderDtlId,
        deliver_dtl_child_id deliverDtlChildId,

        deliver_dtl_id deliverDtlId,
        deliver_id deliverId,
        assist_product_id assistProductId,
        product_id productId,
        order_unit orderUnit,

        order_count orderCount,
        price price,
        amount amount,
        state state,
        cuser cuser,

        cdate cdate,
        uuser uuser,
        udate udate,
        remark remark,
        isdisable isdisable,

        orderDtl_child_id orderDtlChildId
        from vmes_assist_discard_detail
        <where>
            <!--isSelfExist 是否考虑自己在业务表中是否存在
                false: (false or is null) 无需考虑自己在业务表中是否存在
                true : 需要考虑自己在业务表中是否存在
            -->
            <if test='id != null and id != ""' >
                <choose>
                    <when test="'true' == isSelfExist">
                        <![CDATA[ and id <> #{id} ]]>
                    </when>
                    <otherwise>
                        and id = #{id}
                    </otherwise>
                </choose>
            </if>

            <if test='parentId != null and parentId != ""' >
                and parent_id = #{parentId}
            </if>
            <if test="assistProductId != null and assistProductId != ''" >
                and assist_product_id = #{assistProductId}
            </if>

            <!--queryStr 自定义sql查询语句-->
            <if test='queryStr != null and queryStr != ""'>
                and ${queryStr}
            </if>
        </where>
        <if test='orderStr != null and orderStr != ""' >
            order by ${orderStr}
        </if>
    </select>


    <!-- 自动创建，可以修改 -->
    <select id="getDataListPage" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
            detail.id id,
            detail.parent_id parentId,
            detail.order_id orderId,
            detail.order_dtl_id orderDtlId,
            detail.deliver_dtl_child_id deliverDtlChildId,

            detail.deliver_dtl_id deliverDtlId,
            detail.deliver_id deliverId,
            detail.assist_product_id assistProductId,
            detail.product_id productId,
            detail.order_unit orderUnit,

            round(ifnull(detail.order_count, 0),2) orderCount,
            round(ifnull(detail.price, 0), <include refid="com.xy.vmes.deecoop.common.CommonMapper.SYS_PRICE_DEFAULT"></include>) price,
            round(ifnull(detail.amount, 0),2) amount,
            detail.state state,
            detail.cuser cuser,

            detail.cdate cdate,
            detail.uuser uuser,
            detail.udate udate,
            detail.remark remark,
            detail.isdisable isdisable,

            <!--货品表(原材料信息)-->
            product.code sysProductCode,
            product.source_code custProductCode,
            CASE
            WHEN product.source_code is null THEN product.code
            WHEN product.source_code is not null THEN product.source_code
            ELSE null
            END productCode,
            product.name productName,
            product.spec productSpec,
            product.property productProperty,

            <!--外协件-->
            assistProd.product_id assistProdId,
            assistProd.product_name assistProdName,
            craft.name craftName,

            orderUnit.name orderUnitName
        from vmes_assist_discard_detail detail
            left join vmes_product product on detail.product_id = product.id
            left join vmes_dictionary orderUnit on detail.order_unit = orderUnit.id

            left join vmes_assist_product assistProd on detail.assist_product_id = assistProd.id
            left join vmes_assist_craft craft on assistProd.craft_id = craft.id and craft.isdisable = '1'
        <where>
            <if test='parentId != null and parentId != ""' >
                and detail.parent_id = #{parentId}
            </if>
            <!--queryStr 自定义sql查询语句-->
            <if test='queryStr != null and queryStr != ""' >
                and ${queryStr}
            </if>

        </where>
        <if test='orderStr != null and orderStr != ""' >
            order by ${orderStr}
        </if>
    </select>

</mapper>