<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：vmes_assist_order_detail:外协订单单明细子表 Mapper.xml
外协-外协件退货-生成退货(成品退货)
外协-外协件报废-生成报废(成品报废)

创建人：陈刚
创建时间：2020-05-12
 -->
<mapper namespace="com.xy.vmes.deecoop.assist.dao.AssistOrderDetailByRetreatMapper">
    <insert id="assistOrderDetailByRetreat" >
        delete from vmes_column where model_code = 'assistOrderDetailByRetreat' ;
        insert into vmes_column (
        id,model_code,title_key,title_name,serial_number,
        isdisable,ishide,isedit,ismust,cdate,
        cuser
        ) VALUES
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','id','id',0, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','parentId','外协订单id',1, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','planDetailId','计划明细id',2, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','assistProductId','外协件id',3, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','orderUnit','单位id(单据单位)',4, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','orderCount','订单订购数量',5, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','lossRatio','损耗率',6, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','price','单价',7, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','amount','金额',8, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','expectDate','约定交期(yyyy-MM-dd)',9, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','state','状态(0:待提交 1:待审核 2:待发货 3:外协中 4:已完成 -1:已取消)',10, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','cuser','创建用户id',11, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','cdate','创建时间',12, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','uuser','修改用户id',13, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','udate','修改时间',14, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','remark','备注',15, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','isdisable','是否启用(0:已禁用 1:启用)',16, '1','1','1','0',now(), 'admin'),

        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','orderId','外协订单id',17, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','orderDtlId','外协订单明细id',18, '1','1','1','0',now(), 'admin'),

        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','productId','(外协件)货品id',17, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','assistProductName','外协件',18, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','orderUnitName','单位',19, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','craftCode','工艺编号',20, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','craftName','工艺名称',21, '1','1','1','0',now(), 'admin'),

        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','retreatCount','退料',12, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','discardCount','报废',13, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'assistOrderDetailByRetreat','maxCount','最大(退料,报废)',14, '1','1','1','0',now(), 'admin'),
    </insert>

    <select id="findAssistOrderDetailByRetreat" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
            md5(uuid()) id,
            detail.id id,
            detail.parent_id parentId,
            detail.plan_detail_id planDetailId,
            detail.assist_product_id assistProductId,
            detail.order_unit orderUnit,

            round(ifnull(detail.order_count, 0),2) orderCount,
            round(ifnull(detail.loss_ratio, 0),2) lossRatio,
            round(ifnull(detail.price, 0), <include refid="com.xy.vmes.deecoop.common.CommonMapper.SYS_PRICE_DEFAULT"></include>) price,
            round(ifnull(detail.amount, 0),2) amount,
            DATE_FORMAT(detail.expect_date,'%Y-%m-%d') expectDate,

            detail.state state,
            detail.cuser cuser,
            detail.cdate cdate,
            detail.uuser uuser,
            detail.udate udate,

            detail.remark remark,
            detail.isdisable isdisable,

            <!--外协订单信息-->
            detail.parent_id orderId,
            detail.id orderDtlId,

            <!--外协件信息-->
            assistProd.product_id productId,
            assistProd.product_name assistProductName,
            orderUnitName.name orderUnitName,
            craft.sys_code craftCode,
            craft.name craftName,

            round(ifnull(retreat.order_count, 0),2) retreatCount,
            round(ifnull(discard.order_count, 0),2) discardCount,
            round((ifnull(retreat.order_count, 0) + ifnull(discard.order_count, 0)),2) retreatAndDiscardCount,
            <!--maxRetreatCount:最大允许发货数量: -->
            round((ifnull(detail.order_count, 0) - (ifnull(retreat.order_count, 0) + ifnull(discard.order_count, 0))) ,2) maxCount

        from vmes_assist_order_detail detail
            left join vmes_assist_product assistProd on detail.assist_product_id = assistProd.id
            left join vmes_assist_craft craft on assistProd.craft_id = craft.id and craft.isdisable = '1'
            left join vmes_product_unit orderUnit on (assistProd.product_id = orderUnit.product_id and detail.order_unit = orderUnit.unit)
            left join vmes_dictionary orderUnitName on detail.order_unit = orderUnitName.id

            <!--外协退货单-->
            left join (
                select order_dtl_id, sum(order_count) order_count
                from vmes_assist_retreat_detail
                <where>
                    <if test="orderId != null and orderId != ''" >
                        and order_id = #{orderId}
                    </if>
                    and parent_id in (
                        select id
                        from vmes_assist_retreat
                        <where>
                            <if test="currentCompanyId != null and currentCompanyId != ''" >
                                and company_id = #{currentCompanyId}
                            </if>
                            <if test='supplierId != null and supplierId != ""' >
                                and supplier_id = #{supplierId}
                            </if>
                            <!--type 退货类型(1:外协件 2:外协原材料)-->
                            and type = '1'
                            <!--state:状态(0:待提交 1:待审核 2:待退货 3:已完成 -1:已取消)-->
                            <![CDATA[and state <> -1]]>
                        </where>
                    )
                </where>
                group by order_dtl_id
            ) retreat on detail.id = retreat.order_dtl_id

            <!--外协报废单-->
            left join (
                select order_dtl_id, sum(order_count) order_count
                from vmes_assist_discard_detail
                <where>
                    <if test="orderId != null and orderId != ''" >
                        and order_id = #{orderId}
                    </if>
                    and parent_id in (
                        select id
                        from vmes_assist_discard
                        <where>
                            <if test="currentCompanyId != null and currentCompanyId != ''" >
                                and company_id = #{currentCompanyId}
                            </if>
                            <if test='supplierId != null and supplierId != ""' >
                                and supplier_id = #{supplierId}
                            </if>
                            <!--type 报废类型(1:外协件 2:外协原材料)-->
                            and type = '1'
                            <!--state:状态(0:待提交 1:待审核 2:待报废 3:已完成 -1:已取消)-->
                            <![CDATA[and state <> -1]]>
                        </where>
                    )
                </where>
                group by order_dtl_id
            ) discard on detail.id = discard.order_dtl_id
        <where>
            <if test="orderId != null and orderId != ''" >
                and detail.parent_id = #{orderId}
            </if>
        </where>
        <if test='orderStr != null and orderStr != ""' >
            order by ${orderStr}
        </if>
    </select>
</mapper>
