<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.vmes.deecoop.system.dao.CompanyMapper">
    <sql id="Column1">
        <!--查询显示字段-->
        '企业编码' code,
        '企业名称' name,
        '显示顺序' serialNumber,
        '企业性质' companyTypeName,
        '有效期' companyValidityDate,
        '企业用户数' companyUserCount,
        '是否启用' isdisable,

        '账号' userCode,
        '姓名' userName,
        '手机号' userMobile,
        '邮箱' userEmail,
        '角色' userType,

        <!--查询隐藏字段-->
        'id' id_hide,
        'pid' pid_hide,
        'layer' layer_hide,
        'companyType' companyType_hide,
        'organizeType' organizeType_hide,
        'companyShortname' companyShortname_hide
    </sql>

    <select id="getColumnList" resultType="java.util.LinkedHashMap">
        select
        <include refid="Column1"/>
        from dual
    </select>

    <sql id="Field1">
        <!--查询显示字段-->
        a.code code,
        a.name name,
        a.serial_number serialNumber,
        c.small_name companyTypeName,
        DATE_FORMAT(a.company_validity_date,'%Y-%m-%d') companyValidityDate,
        a.company_user_count companyUserCount,
        a.isdisable isdisable,

        b.user_code userCode,
        b.user_name userName,
        b.mobile mobile,
        b.email email,
        '企业管理员' userType,

        <!--查询隐藏字段-->
        a.id id,
        a.pid pid,
        a.layer layer,
        a.company_type companyType,
        a.organize_type organizeType,
        a.company_shortname companyShortname

    </sql>
    <select id="getDataListPage" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select <include refid="Field1"/>
        from vmes_department a
            left join vmes_user b on a.id = b.company_id and b.user_type = '1'
            left join view_vmes_dictionary c on a.company_type = c.small_code and c.big_code = 'sys_company_type'
        <where>
            <if test="id != null and id != ''" >
                and a.id = #{id}
            </if>
            <if test="code != null and code != ''">
                and a.code LIKE CONCAT(CONCAT('%', #{code}),'%')
            </if>
            <if test="name != null and name != ''">
                and a.name LIKE CONCAT(CONCAT('%', #{name}),'%')
            </if>
            <if test="companyType != null and companyType != ''" >
                and a.company_type = #{companyType}
            </if>
            <if test="isdisable != null and isdisable != ''" >
                and a.isdisable = #{isdisable}
            </if>
            <if test="layer != null and layer != ''" >
                and a.layer = #{layer}
            </if>
            <if test="cuser != null and cuser != ''" >
                and a.cuser = #{cuser}
            </if>


            <if test="userCode != null and userCode != ''">
                and b.user_code LIKE CONCAT(CONCAT('%', #{userCode}),'%')
            </if>
            <if test="userName != null and userName != ''">
                and b.user_name LIKE CONCAT(CONCAT('%', #{userName}),'%')
            </if>
            <if test="mobile != null and mobile != ''">
                and b.mobile LIKE CONCAT(CONCAT('%', #{mobile}),'%')
            </if>
        </where>
    </select>


</mapper>