<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.vmes.deecoop.system.dao.CompanyMapper">
    <sql id="Column1">
        <!--查询显示字段-->
        '企业编码' code,
        '企业名称' name,
        '企业简称' companyShortname,
        '显示顺序' serialNumber,
        '企业性质' companyTypeName,

        '截至日期' companyValidityDate,
        '企业用户数' companyUserCount,
        '是否启用' isdisable,
        '账号' userCode,
        '管理员姓名' userName,

        '手机号' mobile,
        '邮箱' email,
        '套餐' roleName,
        '用户类型' userType,
        '备注' remark,

        <!--查询隐藏字段-->
        'id' id_hide,
        'pid' pid_hide,
        'roleId' roleId_hide,
        'userId' userId_hide,
        'userRoleId' userRoleId_hide,
        'layer' layer_hide,
        'companyType' companyType_hide,
        'organizeType' organizeType_hide
    </sql>

    <select id="getColumnList" resultType="java.util.LinkedHashMap">
        select
        <include refid="Column1"/>
        from dual
    </select>

    <sql id="Field1">
        <!--查询显示字段-->
        a.code code,
        a.name name,
        a.company_shortname companyShortname,
        a.serial_number serialNumber,
        c.name companyTypeName,

        DATE_FORMAT(a.company_validity_date,'%Y-%m-%d') companyValidityDate,
        a.company_user_count companyUserCount,
        a.isdisable isdisable,
        b.user_code userCode,
        b.user_name userName,

        b.mobile mobile,
        b.email email,
        f.name roleName,
        '企业管理员' userType,
        f.remark remark,

        <!--查询隐藏字段-->
        a.id id,
        a.pid pid,
        b.id userId,
        f.id roleId,
        d.id userRoleId,
        a.layer layer,
        a.company_type companyType,
        a.organize_type organizeType

    </sql>
    <select id="getDataListPage" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select <include refid="Field1"/>
        from vmes_department a
            left join vmes_user b on a.id = b.company_id and b.user_type = '1'
            left join vmes_user_role d on b.id = d.user_id
            left join vmes_role f on d.role_id = f.id
            left join vmes_dictionary c on a.company_type = c.id
        <where>
            a.layer = '1'

            <if test="id != null and id != ''" >
                and a.id = #{id}
            </if>
            <if test="code != null and code != ''">
                and a.code LIKE CONCAT(CONCAT('%', #{code}),'%')
            </if>
            <if test="name != null and name != ''">
                and a.name LIKE CONCAT(CONCAT('%', #{name}),'%')
            </if>
            <if test="companyType != null and companyType != ''" >
                and a.company_type = #{companyType}
            </if>
            <if test="isdisable != null and isdisable != ''" >
                and a.isdisable = #{isdisable}
            </if>
            <if test="layer != null and layer != ''" >
                and a.layer = #{layer}
            </if>

            <if test="userCode != null and userCode != ''">
                and b.user_code LIKE CONCAT(CONCAT('%', #{userCode}),'%')
            </if>
            <if test="userName != null and userName != ''">
                and b.user_name LIKE CONCAT(CONCAT('%', #{userName}),'%')
            </if>
            <if test="mobile != null and mobile != ''">
                and b.mobile LIKE CONCAT(CONCAT('%', #{mobile}),'%')
            </if>


        </where>
    </select>


</mapper>