<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：vmes_equipment_sensor:设备传感器指标(设备联网) Mapper.xml
创建人：陈刚 自动创建
创建时间：2019-06-19
 -->
<mapper namespace="com.xy.vmes.deecoop.equipment.dao.EquipmentSensorMapper">

    <!-- 批量删除 自动创建，禁止修改-->
    <delete id="deleteByIds" parameterType="java.lang.String">
        delete from vmes_equipment_sensor
        where id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
		#{item}
        </foreach>
    </delete>


    <!-- 自动创建，禁止修改-->
    <update id="updateToDisableByIds" parameterType="java.lang.String" >
        update vmes_equipment_sensor
        set isdisable = '0' ,udate = now()
        where id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
        #{item}
        </foreach>
    </update>

    <!-- ***************************************************以上为自动生成代码禁止修改，请在下面添加业务代码************************************************* -->
    <delete id="deleteTableByEquipment" parameterType="com.yvan.PageData">
        delete from vmes_equipment_sensor
        <where>
            <if test="equipmentId != null and equipmentId != ''" >
                and equipment_id = #{equipmentId}
            </if>
        </where>
    </delete>

    <insert id="equipmentSensor" >
        delete from vmes_column where model_code = 'equipmentSensor' ;
        insert into vmes_column (
        id,model_code,title_key,title_name,serial_number,
        isdisable,ishide,isedit,ismust,cdate,
        cuser
        ) VALUES
            (replace(uuid(), '-', ''),'equipmentSensor','id','id',0, '1','1','1','0',now(), 'admin')
            (replace(uuid(), '-', ''),'equipmentSensor','companyId','企业id',1, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentSensor','equipmentId','设备id',2, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentSensor','targetType','指标类型id',3, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentSensor','targetTypeName','指标类型',3, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentSensor','targetCode','指标编号',4, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentSensor','targetName','指标名称',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentSensor','targetFormula','指标公式',6, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentSensor','targetFormulaColumn','指标公式(SQL查询语句直接使用)',7, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentSensor','cuser','创建用户id',8, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentSensor','cdate','创建时间',9, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentSensor','uuser','修改用户id',10, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentSensor','udate','修改时间',11, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentSensor','remark','备注',12, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentSensor','isdisable','是否启用',13, '1','1','1','0',now(), 'admin')
    </insert>

    <insert id="equipmentBindSensor">
        delete from vmes_column where model_code = 'equipmentBindSensor';
        insert into vmes_column (
        id,model_code,title_key,title_name,serial_number,
        isdisable,ishide,isedit,ismust,cdate,
        cuser
        ) VALUES
            (replace(uuid(), '-', ''),'equipmentBindSensor','id','id',0, '1','0','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentBindSensor','companyId','公司ID-组织架构',1, '1','0','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentBindSensor','qrcode','二维码-(图片相对路径)',2, '1','0','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentBindSensor','code','设备编码',3, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentBindSensor','name','设备名称',4, '1','1','1','0',now(), 'admin'),

            (replace(uuid(), '-', ''),'equipmentBindSensor','nameEn','英文名称',5, '1','0','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentBindSensor','spec','设备型号',6, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentBindSensor','type','设备类型ID',8, '1','0','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentBindSensor','typeName','设备类型',7, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentBindSensor','supplier','厂商名称',9, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentBindSensor','deptId','所属部门id',11, '1','0','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentBindSensor','deptName','所属部门',10, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentBindSensor','deptPathName','所属部门',10, '1','1','1','0',now(), 'admin'),

            (replace(uuid(), '-', ''),'equipmentBindSensor','buyDate','采购日期',12, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentBindSensor','isdisable','是否启用',13, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentBindSensor','remark','备注',14, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentBindSensor','cuser','创建用户id',15, '1','0','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentBindSensor','cdate','创建时间',16, '1','0','1','0',now(), 'admin'),

            (replace(uuid(), '-', ''),'equipmentBindSensor','uuser','修改用户id',17, '1','0','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentBindSensor','udate','修改时间',18, '1','0','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentBindSensor','photo','设备图片',19, '1','0','1','0',now(), 'admin'),

            (replace(uuid(), '-', ''),'equipmentBindSensor','isBindSensor','是否联网id',20, '1','0','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentBindSensor','bindSensorStateName','是否联网',20, '1','0','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentBindSensor','businessState','状态id',21, '1','0','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentBindSensor','businessStateName','状态',22, '1','0','1','0',now(), 'admin')


    </insert>
    <!-- ***************************************************以上为自动生成代码禁止修改，请在下面添加业务代码************************************************* -->

    <!-- 列表(全部) 自动创建，禁止修改-->
    <select id="dataList" parameterType="com.yvan.PageData" resultType="com.xy.vmes.entity.EquipmentSensor">
        select
        id id,
        company_id companyId,
        equipment_id equipmentId,
        target_type targetType,
        target_code targetCode,

        target_name targetName,
        target_formula targetFormula,
        target_formula_sql targetFormulaSql,
        target_formula_display targetFormulaDisplay,
        target_formula_column targetFormulaColumn,
        cuser cuser,
        cdate cdate,

        uuser uuser,
        udate udate,
        remark remark,
        isdisable isdisable
        from vmes_equipment_sensor
        <where>
            <!--isSelfExist 是否考虑自己在业务表中是否存在
                false: (false or is null) 无需考虑自己在业务表中是否存在
                true : 需要考虑自己在业务表中是否存在
            -->
            <if test="id != null and id != ''" >
                <choose>
                    <when test="'true' == isSelfExist">
                        <![CDATA[ and id <> #{id} ]]>
                    </when>
                    <otherwise>
                        and id = #{id}
                    </otherwise>
                </choose>
            </if>
            <if test="equipmentId != null and equipmentId != ''">
                and equipment_id = #{equipmentId}
            </if>
            <if test="companyId != null and companyId != ''">
                and company_id = #{companyId}
            </if>
            <if test="targetType != null and targetType != ''">
                and target_type = #{targetType}
            </if>

            <if test="targetCode != null and targetCode != ''">
                and target_code = #{targetCode}
            </if>
            <if test="targetCodes != null and targetCodes != ''">
                and target_code in (${targetCodes})
            </if>

            <if test="targetName != null and targetName != ''">
                and target_name = #{targetName}
            </if>
            <if test="isdisable!= null and isdisable != ''">
                and isdisable = #{isdisable}
            </if>
            <if test="targetFormula!= null and targetFormula != ''">
                and target_formula like CONCAT(CONCAT('%', #{targetFormula}),'%')
            </if>
            <if test="targetFormulaSql!= null and targetFormulaSql != ''">
                and target_formula_sql like CONCAT(CONCAT('%', #{targetFormulaSql}),'%')
            </if>
            <!--queryStr 自定义sql查询语句-->
            <if test="queryStr != null and queryStr != ''" >
                and ${queryStr}
            </if>
        </where>
        <if test="orderStr != null and orderStr != ''" >
            order by ${orderStr}
        </if>
    </select>

    <!-- 自动创建，可以修改 -->
    <select id="getDataListPage" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
        id id,
        company_id companyId,
        equipment_id equipmentId,
        target_type targetType,
        CASE
          WHEN target_type = 'O' THEN '标准指标'
          WHEN target_type = 'A' THEN '传感器指标'
          WHEN target_type = 'B' THEN '分析指标'
        ELSE null
        END targetTypeName,
        target_code targetCode,

        target_name targetName,
        target_formula targetFormula,
        target_formula_sql targetFormulaSql,
        target_formula_display targetFormulaDisplay,
        target_formula_column targetFormulaColumn,
        cuser cuser,
        cdate cdate,

        uuser uuser,
        udate udate,
        remark remark,
        isdisable isdisable
        from vmes_equipment_sensor
        <where>
            <if test="equipmentId != null and equipmentId != ''">
                and equipment_id = #{equipmentId}
            </if>
            <if test="targetType != null and targetType != ''">
                and target_type = #{targetType}
            </if>
            <if test="targetCode != null and targetCode != ''">
                and target_code = #{targetCode}
            </if>
            <if test="targetName != null and targetName != ''">
                and target_name = #{targetName}
            </if>
            <!--queryStr 自定义sql查询语句-->
            <if test="queryStr != null and queryStr != ''" >
                and ${queryStr}
            </if>
        </where>
        <if test="orderStr != null and orderStr != ''" >
            order by ${orderStr}
        </if>
    </select>

    <select id="findAllEquipmentBySensor" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
            equipment.id id,
            equipment.company_id companyId,
            equipment.qrcode qrcode,
            equipment.code code,
            equipment.name name,
            equipment.name_en nameEn,
            equipment.spec spec,
            equipment.type type,
            equipment.supplier supplier,
            equipment.dept_id deptId,
            equipment.buy_date buyDate,
            equipment.remark remark,
            equipment.cuser cuser,
            equipment.cdate cdate,
            equipment.uuser uuser,
            equipment.udate udate,
            equipment.isdisable isdisable,
            equipment.photo photo,
            department.name deptName,
            department.long_name deptPathName,

            CASE
              WHEN equipmentSensor.sensorTargetCount is null THEN 'N'
              WHEN equipmentSensor.sensorTargetCount is not null THEN 'Y'
            ELSE null
            END isBindSensor,

            CASE
              WHEN equipmentSensor.sensorTargetCount is null THEN '非联网设备'
              WHEN equipmentSensor.sensorTargetCount is not null THEN '联网设备'
            ELSE null
            END bindSensorStateName,

            type.name typeName,
            '' businessState,
            '' businessStateName

        from vmes_equipment equipment
            left join vmes_department department on equipment.dept_id = department.id
            left join vmes_dictionary type on equipment.type = type.id
            left join (
                select equipment_id, count(id) sensorTargetCount
                from vmes_equipment_sensor
                <where>
                    <if test="companyId != null and companyId != ''">
                        and company_id = #{companyId}
                    </if>
                    <if test="equipmentSensorIsdisable != null and equipmentSensorIsdisable != ''">
                        and isdisable = #{equipmentSensorIsdisable}
                    </if>
                </where>
                group by equipment_id
            ) equipmentSensor on equipment.id = equipmentSensor.equipment_id
        <where>
            <if test="companyId != null and companyId != ''">
                and equipment.company_id = #{companyId}
            </if>
            <if test="deptId != null and deptId != ''">
                and equipment.dept_id = #{deptId}
            </if>
            <if test="pid!= null and pid != '' and layer != null">
                and department.id_${layer} = #{pid}
            </if>
            <if test="equipmentIsdisable!= null and equipmentIsdisable != ''">
                and equipment.isdisable = #{equipmentIsdisable}
            </if>
            <if test='isBindSensor!= null and isBindSensor != "" and isBindSensor == "Y"'>
                and equipmentSensor.sensorTargetCount is not null
            </if>
            <if test='isBindSensor!= null and isBindSensor != "" and isBindSensor == "N"'>
                and equipmentSensor.sensorTargetCount is  null
            </if>

            <if test="code != null and code != ''">
                and equipment.code = #{code}
            </if>
            <if test="name != null and name != ''">
                and equipment.name LIKE CONCAT(CONCAT('%', #{name}),'%')
            </if>
            <if test="typeName != null and typeName != ''">
                and type.name LIKE CONCAT(CONCAT('%', #{typeName}),'%')
            </if>

            <!--queryStr 自定义sql查询语句-->
            <if test="queryStr != null and queryStr != ''" >
                and ${queryStr}
            </if>
        </where>
        <if test="orderStr != null and orderStr != ''" >
            order by ${orderStr}
        </if>
    </select>




</mapper>