<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：设备信息状态综合查询 Mapper.xml
创建人：陈刚
创建时间：2019-07-11
 -->
<mapper namespace="com.xy.vmes.deecoop.equipment.dao.EquipmentStateMapper">
    <select id="findEquipmentState" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
            equipment.id id,
            equipment.company_id companyId,
            equipment.qrcode qrcode,
            equipment.code code,
            equipment.name name,

            equipment.spec spec,
            equipment.type type,
            type.name typeName,
            equipment.supplier supplier,
            equipment.dept_id deptId,
            equipment.buy_date buyDate,

            equipment.remark remark,
            equipment.cuser cuser,
            equipment.cdate cdate,
            equipment.photo photo,

            department.name deptName,
            department.long_name deptPathName,

            <!--设备联网 vmes_equipment_sensor -->
            CASE
                WHEN equipmentSensor.sensorTargetCount is null THEN 'N'
                WHEN equipmentSensor.sensorTargetCount is not null THEN 'Y'
            ELSE null
            END isBindSensor,

            CASE
                WHEN equipmentSensor.sensorTargetCount is null THEN '非联网设备'
                WHEN equipmentSensor.sensorTargetCount is not null THEN '联网设备'
            ELSE null
            END bindSensorStateName,


            <!--设备状态 待命中:0 工作中:1 保养中:2 故障中:3 维修中:4-->
            CASE
                WHEN equipmentRepair.equipment_state is null and equipmentSensorSource.A0001 = '0' THEN '0'
                WHEN equipmentRepair.equipment_state is null and equipmentSensorSource.A0001 = '1' THEN '1'
                WHEN equipmentRepair.equipment_state is null and equipmentSensorSource.A0001 is null  THEN '0'
                <!--设备维修状态 vmes_equipment_repair -->
                WHEN equipmentRepair.equipment_state = '1' THEN '3'
                WHEN equipmentRepair.equipment_state = '2' THEN '4'
            <!--设备保养状态  -->
            ELSE null
            END equipmentState,

            CASE
                WHEN equipmentRepair.equipment_state is null and equipmentSensorSource.A0001 = '0' THEN '待命中'
                WHEN equipmentRepair.equipment_state is null and equipmentSensorSource.A0001 = '1' THEN '工作中'
                WHEN equipmentRepair.equipment_state is null and equipmentSensorSource.A0001 is null  THEN '待命中'

                <!--设备维修状态 vmes_equipment_repair -->
                WHEN equipmentRepair.equipment_state = '1' THEN '故障中'
                WHEN equipmentRepair.equipment_state = '2' THEN '维修中'
                <!--设备保养状态  -->
                <!--WHEN state = '1' THEN '保养中' -->
            ELSE null
            END equipmentStateName,

            <!--设备传感器状态  -->
            CASE WHEN equipmentSensorSource.equipment_id is not null THEN '1' else '0' END equipmentActivity,
            CASE WHEN equipmentSensorSource.equipment_id is not null THEN '在线' else '不在线' END equipmentActivityName

        from vmes_equipment equipment
            left join vmes_department department on equipment.dept_id = department.id
            left join vmes_dictionary type on equipment.type = type.id

            <!--设备联网 vmes_equipment_sensor -->
            left join (
                select equipment_id, count(id) sensorTargetCount
                from vmes_equipment_sensor
                <where>
                    <if test="equipmentId != null and equipmentId != ''">
                        and equipment_id = #{equipmentId}
                    </if>
                </where>
                group by equipment_id
            ) equipmentSensor on equipment.id = equipmentSensor.equipment_id


            <!--设备联网当天数据 vmes_sensor_source -->
            left join (
                select equipment_id, A0001, A0002
                from vmes_sensor_source
                <where>
                    <if test="equipmentId != null and equipmentId != ''">
                        and equipment_id = #{equipmentId}
                    </if>
                    <![CDATA[ and cdate <= now() and cdate >= date_add(now(), interval -30 minute) ]]>
                </where>
                order by cdate desc limit 1
            ) equipmentSensorSource on equipment.id = equipmentSensorSource.equipment_id

            <!--设备维修状态 vmes_equipment_repair -->
            left join (
                select equipment_id, equipment_state
                from vmes_equipment_repair
                <where>
                    <if test="equipmentId != null and equipmentId != ''">
                        and equipment_id = #{equipmentId}
                    </if>
                    and isdisable = '1'
                </where>
            ) equipmentRepair on equipment.id = equipmentRepair.equipment_id




            <!--设备保养状态  -->
            <!--设备传感器状态  -->

        <where>
            <if test="companyId != null and companyId != ''">
                and equipment.company_id = #{companyId}
            </if>
            <if test="equipmentId != null and equipmentId != ''">
                and equipment.id = #{equipmentId}
            </if>
        </where>
    </select>

    <select id="getOutputNum"  parameterType="com.yvan.PageData"  resultType="java.util.Map">
      select equipment_id equipmentId,max(A0004)-min(A0004) outputNum from vmes_sensor_source
        <where>
            <if test="equipmentId != null and equipmentId != ''">
                and equipment_id = #{equipmentId}
            </if>
        </where>
    </select>

    <select id="getStartDate"  parameterType="com.yvan.PageData"  resultType="java.util.Map">
        select equipment_id equipmentId,DATE_FORMAT(cdate,'%Y-%m-%d %H:%i:%s') startDate from vmes_sensor_source
        <where>
            <if test="equipmentId != null and equipmentId != ''">
                and equipment_id = #{equipmentId}
            </if>
            and A0001 = '1'
        </where>
        order by cdate asc limit 1
    </select>

    <select id="getCollectDate"  parameterType="com.yvan.PageData"  resultType="java.util.Map">
        select equipment_id equipmentId,DATE_FORMAT(cdate,'%Y-%m-%d %H:%i:%s')  collectDate from vmes_sensor_source
        <where>
            <if test="equipmentId != null and equipmentId != ''">
                and equipment_id = #{equipmentId}
            </if>
            and A0001 = '1'
        </where>
        order by cdate desc limit 1
    </select>



    <select id="get24HoursData"  parameterType="com.yvan.PageData"  resultType="java.util.Map">
        select cdate,A0001,A0002,A0003 from vmes_sensor_source
        <where>
            <if test="equipmentId != null and equipmentId != ''">
                and equipment_id = #{equipmentId}
            </if>
        </where>
        order by cdate asc
    </select>

    <select id="get24HoursDataDetail"  parameterType="com.yvan.PageData"  resultType="java.util.Map">
        select
        DATE_FORMAT(t.cdate,'%Y-%m-%d %H:%i:%s') cdate,
        ${colStr}
        from ${viewStr} t
        <where>
            <if test="equipmentId != null and equipmentId != ''">
                and t.equipment_id = #{equipmentId}
            </if>
            <if test="queryStr != null and queryStr != ''" >
                and ${queryStr}
            </if>
        </where>
        order by t.cdate desc
    </select>




</mapper>