<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：设备维修任务明细关联出库明细 Mapper.xml
创建人：陈刚
创建时间：2019-08-28
 -->
<mapper namespace="com.xy.vmes.deecoop.equipment.dao.EquipmentMaintainTaskDetailOnInOutMapper">

    <insert id="equipmentMaintainTaskDetailOnInOutDetail">
        delete from vmes_column where model_code = 'equipmentMaintainTaskDetailOnInOutDetail';

        insert into vmes_column (
        id,model_code,title_key,title_name,serial_number,
        isdisable,ishide,isedit,ismust,cdate,
        cuser
        ) VALUES
        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','id','id',0, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','taskId','保养任务ID',1, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','productId','备件ID(货品)ID',2, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','warehouseGenre','仓库属性(entity:实体库 virtual:虚拟库)',3, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','receiveCount','领取数量',4, '1','1','1','0',now(), 'admin'),

        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','applyCount','实际使用数量',5, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','retreatType','退回方式(1:退回仓库, 2:退回虚拟库)',6, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','retreatCount','退回数量',7, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','outDtlId','出库明细ID(领取)',8, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','outCount','出库数量(领取)',9, '1','1','1','0',now(), 'admin'),

        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','inDtlId','入库明细ID(退还)',10, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','inCount','入库数量(退还)',11, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','cuser','创建用户id',12, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','cdate','创建时间',13, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','uuser','修改用户id',14, '1','1','1','0',now(), 'admin'),

        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','udate','修改时间',15, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','remark','备注',16, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','isdisable','是否启用(0:已禁用 1:启用)',17, '1','1','1','0',now(), 'admin'),

        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','sysCode','维修单编号',18, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''), 'equipmentMaintainTaskDetailOnInOutDetail', 'productCode', '货品编码', 19, '1', '1', '1', '0', '2018-12-5 17:38:48', 'admin'),
        (replace(uuid(), '-', ''), 'equipmentMaintainTaskDetailOnInOutDetail', 'productName', '货品名称', 20, '1', '1', '1', '0', '2018-12-5 17:38:48', 'admin'),
        (replace(uuid(), '-', ''), 'equipmentMaintainTaskDetailOnInOutDetail', 'productSpec', '规格型号', 21, '1', '1', '1', '0', '2018-12-5 17:38:48', 'admin'),
        (replace(uuid(), '-', ''), 'equipmentMaintainTaskDetailOnInOutDetail', 'productGenre', '货品属性id', 22, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),
        (replace(uuid(), '-', ''), 'equipmentMaintainTaskDetailOnInOutDetail', 'productGenreName', '货品属性', 23, '1', '1', '1', '0', '2018-12-5 17:38:48', 'admin'),
        (replace(uuid(), '-', ''), 'equipmentMaintainTaskDetailOnInOutDetail', 'productUnitName', '单位', 24, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),

        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','maintainUser','保养人id',25, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','maintainUserCode','保养人账号',26, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','maintainUserName','保养人',27, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','taskResult','执行结果id',28, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','taskResultName','执行结果',28, '1','1','1','0',now(), 'admin'),

        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','beginTime','任务开始时间',29, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','beginTimeStr','任务开始时间',29, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','endTime','任务结束时间',30, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'equipmentMaintainTaskDetailOnInOutDetail','endTimeStr','任务结束时间',30, '1','1','1','0',now(), 'admin'),
    </insert>

    <select id="findMaintainTaskDetailOnInOutDetail" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
            taskDtl.id id,
            taskDtl.task_id taskId,
            taskDtl.product_id productId,
            taskDtl.warehouse_genre warehouseGenre,
            round(taskDtl.receive_count, 2) receiveCount,

            round(taskDtl.apply_count, 2) applyCount,
            taskDtl.retreat_type retreatType,
            round(taskDtl.retreat_count, 2) retreatCount,
            taskDtl.out_dtl_id outDtlId,
            round(taskDtl.out_count, 2) outCount,

            taskDtl.in_dtl_id inDtlId,
            round(taskDtl.in_count, 2) inCount,
            taskDtl.cuser cuser,
            taskDtl.cdate cdate,
            taskDtl.uuser uuser,

            taskDtl.udate udate,
            taskDtl.remark remark,
            taskDtl.isdisable isdisable,

            maintain.sys_code sysCode,
            task.maintain_user maintainUser,
            maintainUser.user_code maintainUserCode,
            maintainUser.user_name maintainUserName,

            task.begin_time beginTime,
            DATE_FORMAT(task.begin_time,'%Y-%m-%d %T') beginTimeStr,
            task.end_time endTime,
            DATE_FORMAT(task.end_time,'%Y-%m-%d %T') endTimeStr,

            task.task_result taskResult,
            CASE
                WHEN task.task_result = '0' THEN '未解决'
                WHEN task.task_result = '1' THEN '已解决'
            ELSE null
            END taskResultName,

            <!--货品信息(备件)-->
            product.code productCode,
            product.name productName,
            product.spec productSpec,
            product.genre productGenre,
            genre.name productGenreName,
            prodUnitName.name productUnitName

        from vmes_equipment_maintainTask_detail taskDtl
            left join vmes_equipment_maintainTask task on taskDtl.task_id = task.id
            left join vmes_user maintainUser on task.maintain_user = maintainUser.id
            left join vmes_equipment_maintain maintain on task.maintain_id = maintain.id

            left join vmes_product product on taskDtl.product_id = product.id
            left join vmes_product_unit prodUnit on taskDtl.product_id = prodUnit.product_id and prodUnit.type = 1
            left join vmes_dictionary genre on product.genre = genre.id
            left join vmes_dictionary prodUnitName on prodUnit.unit = prodUnitName.id

        <where>
            <!--出库单id-->
            <if test="outParentId != null and outParentId != ''" >
                and taskDtl.out_dtl_id in (
                    select id from vmes_warehouse_out_detail
                    where parent_id = #{outParentId}
                )
            </if>

            <!--入库单id-->
            <if test="inParentId != null and inParentId != ''" >
                and taskDtl.in_dtl_id in (
                    select id from vmes_warehouse_in_detail
                    where parent_id = #{inParentId}
                )
            </if>

        </where>

        <if test="orderStr != null and orderStr != ''" >
            order by ${orderStr}
        </if>

    </select>

</mapper>