<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：vmes_equipment_maintain:设备保养单 Mapper.xml
创建人：陈刚 自动创建
创建时间：2019-07-29
 -->
<mapper namespace="com.xy.vmes.deecoop.equipment.dao.EquipmentMaintainMapper">

    <!-- 批量删除 自动创建，禁止修改-->
    <delete id="deleteByIds" parameterType="java.lang.String">
        delete from vmes_equipment_maintain
        where id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
		#{item}
        </foreach>
    </delete>

    <!-- 自动创建，禁止修改-->
    <update id="updateToDisableByIds" parameterType="java.lang.String" >
        update vmes_equipment_maintain
        set isdisable = '0' ,udate = now()
        where id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
        #{item}
        </foreach>
    </update>

    <!-- ***************************************************以上为自动生成代码禁止修改，请在下面添加业务代码************************************************* -->
    <update id="updateIsdisableByPlan" parameterType="com.yvan.PageData" >
        update vmes_equipment_maintain
        set isdisable = #{isdisable}
        <where>
            <if test="planIds != null and planIds != ''" >
                and plan_id in (${parentIds})
            </if>
        </where>
    </update>


    <insert id="insertColumn" >
        delete from vmes_column where model_code = 'equipmentMaintain' ;
        insert into vmes_column (
        id,model_code,title_key,title_name,serial_number,
        isdisable,ishide,isedit,ismust,cdate,
        cuser
        ) VALUES
            (replace(uuid(), '-', ''),'equipmentMaintain','id','id',0, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','companyId','企业id',1, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','equipmentId','设备id',2, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','maintainContentId','保养内容id',3, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','maintainContent','保养内容',4, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','isStop','是否停机id',4, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','isStopName','是否停机',4, '1','1','1','0',now(), 'admin'),

            (replace(uuid(), '-', ''),'equipmentMaintain','planId','保养计划id',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','maintainTaskId','保养任务id',6, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','isNullTask','是否为空保养任务(1:空 0:非空)',6, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','sysCode','保养单号',7, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','sysBeginTime','当前周期开始时间',8, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','sysEndTime','当前周期结束时间',9, '1','1','1','0',now(), 'admin'),

            (replace(uuid(), '-', ''),'equipmentMaintain','maintainDate','保养时间(yyyy-MM-dd)',10, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','maintainDateStr','保养时间',10, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','nextMaintainDate','下一保养时间(yyyy-MM-dd)',11, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','nextMaintainDateStr','下一保养时间',11, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','equipmentState','设备状态(1:待保养 2:保养中 3:已完成)',12, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','equipmentStateName','状态',12, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','beginTime','开始保养时间',13, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','beginTimeStr','开始保养时间',13, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','endTime','完成保养时间',14, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','endTimeStr','完成保养时间',14, '1','1','1','0',now(), 'admin'),

            (replace(uuid(), '-', ''),'equipmentMaintain','cancelReason','取消原因',15, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','cancelDate','取消时间',16, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','cancelUser','取消人id',17, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','isAllowMaintain','是否允许保养(0:不允许 1:允许)',18, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','isValidState','保养单有效状态(1:有效 0:无效 is null 无效)',19, '1','1','1','0',now(), 'admin'),

            (replace(uuid(), '-', ''),'equipmentMaintain','cuser','创建用户id',20, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','cdate','创建时间',21, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','uuser','修改用户id',22, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','udate','修改时间',23, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','remark','备注',24, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','isdisable','是否启用(0:已禁用 1:启用)',25, '1','1','1','0',now(), 'admin'),

            (replace(uuid(), '-', ''),'equipmentMaintain','code','设备编码',26, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','name','设备名称',27, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','spec','设备型号',28, '1','1','1','0',now(), 'admin'),

            (replace(uuid(), '-', ''),'equipmentMaintain','maintainUser','保养人id',29, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','maintainUserCode','保养人账号',30, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'equipmentMaintain','maintainUserName','保养人',31, '1','1','1','0',now(), 'admin'),

            (replace(uuid(), '-', ''),'equipmentMaintain','modeName','保养方式',32, '1','1','1','0',now(), 'admin'),
    </insert>

    <!-- 列表(全部) 自动创建，禁止修改-->
    <select id="dataList" parameterType="com.yvan.PageData" resultType="com.xy.vmes.entity.EquipmentMaintain">
        select
        id id,
        company_id companyId,
        equipment_id equipmentId,
        maintain_content_id maintainContentId,
        is_stop isStop,

        plan_id planId,
        maintain_task_id maintainTaskId,
        sys_code sysCode,
        sys_begin_time sysBeginTime,
        sys_end_time sysEndTime,

        maintain_date maintainDate,
        next_maintain_date nextMaintainDate,
        equipment_state equipmentState,
        begin_time beginTime,
        end_time endTime,

        cancel_reason cancelReason,
        cancel_date cancelDate,
        cancel_user cancelUser,
        is_allow_maintain isAllowMaintain,
        is_valid_state isValidState,

        cuser cuser,
        cdate cdate,
        uuser uuser,
        udate udate,
        remark remark,

        isdisable isdisable
        from vmes_equipment_maintain
        <where>
            <!--isSelfExist 是否考虑自己在业务表中是否存在
                false: (false or is null) 无需考虑自己在业务表中是否存在
                true : 需要考虑自己在业务表中是否存在
            -->
            <if test="id != null and id != ''" >
                <choose>
                    <when test="'true' == isSelfExist">
                        <![CDATA[ and id <> #{id} ]]>
                    </when>
                    <otherwise>
                        and id = #{id}
                    </otherwise>
                </choose>
            </if>

            <if test="companyId != null and companyId != ''">
                and company_id = #{companyId}
            </if>
            <if test="equipmentId != null and equipmentId != ''">
                and equipment_id = #{equipmentId}
            </if>
            <if test="maintainContentId != null and maintainContentId != ''">
                and maintain_content_id = #{maintainContentId}
            </if>
            <if test="planId != null and planId != ''">
                and plan_id = #{planId}
            </if>

            <if test="sysBeginTime != null and sysBeginTime != ''">
                and sys_begin_time = #{sysBeginTime}
            </if>
            <if test="sysEndTime != null and sysEndTime != ''">
                and sys_end_time = #{sysEndTime}
            </if>
            <if test="maintainDate != null and maintainDate != ''">
                and maintain_date = #{maintainDate}
            </if>

            <if test="isValidState != null and isValidState != ''">
                and is_valid_state = #{isValidState}
            </if>
            <if test="isdisable != null and isdisable != ''">
                and isdisable = #{isdisable}
            </if>

            <!--queryStr 自定义sql查询语句-->
            <if test="queryStr != null and queryStr != ''" >
                and ${queryStr}
            </if>
        </where>
        <if test="orderStr != null and orderStr != ''" >
            order by ${orderStr}
        </if>
    </select>

    <!-- 自动创建，可以修改 -->
    <select id="getDataListPage" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
        maintain.id id,
        maintain.company_id companyId,
        maintain.equipment_id equipmentId,
        maintain.maintain_content_id maintainContentId,
        content.content maintainContent,
        maintain.is_stop isStop,
        CASE
        WHEN maintain.is_stop = '1' THEN '停机保养'
        WHEN maintain.is_stop = '0' THEN '非停机保养'
        ELSE null
        END isStopName,

        maintain.plan_id planId,
        maintain.maintain_task_id maintainTaskId,
        CASE
        WHEN maintain.maintain_task_id is null THEN '1'
        WHEN maintain.maintain_task_id is not null THEN '0'
        ELSE null
        END isNullTask,

        maintain.sys_code sysCode,
        maintain.sys_begin_time sysBeginTime,
        maintain.sys_end_time sysEndTime,

        maintain.maintain_date maintainDate,
        DATE_FORMAT(maintain.maintain_date,'%Y-%m-%d') maintainDateStr,
        maintain.next_maintain_date nextMaintainDate,
        DATE_FORMAT(maintain.next_maintain_date,'%Y-%m-%d') nextMaintainDateStr,
        maintain.equipment_state equipmentState,
        CASE
        WHEN maintain.equipment_state = '1' THEN '待保养'
        WHEN maintain.equipment_state = '2' THEN '保养中'
        WHEN maintain.equipment_state = '3' THEN '已完成'
        ELSE null
        END equipmentStateName,
        maintain.begin_time beginTime,
        DATE_FORMAT(maintain.begin_time,'%Y-%m-%d %T') beginTimeStr,
        maintain.end_time endTime,
        DATE_FORMAT(maintain.end_time,'%Y-%m-%d %T') endTimeStr,

        maintain.cancel_reason cancelReason,
        maintain.cancel_date cancelDate,
        maintain.cancel_user cancelUser,
        maintain.is_allow_maintain isAllowMaintain,
        maintain.is_valid_state isValidState,

        maintain.cuser cuser,
        maintain.cdate cdate,
        maintain.uuser uuser,
        maintain.udate udate,
        maintain.remark remark,
        maintain.isdisable isdisable,

        equipment.code code,
        equipment.name name,
        equipment.spec spec,

        task.maintain_user maintainUser,
        maintainUser.user_code maintainUserCode,
        maintainUser.user_name maintainUserName,

        mode.name modeName

        from vmes_equipment_maintain maintain
            left join vmes_equipment equipment on maintain.equipment_id = equipment.id
            left join vmes_equipment_maintain_content content on maintain.maintain_content_id = content.id
            left join vmes_equipment_maintain_plan plan on maintain.plan_id = plan.id
            left join vmes_dictionary mode on plan.mode_id = mode.id

            left join vmes_equipment_maintainTask task on maintain.maintain_task_id = task.id
            left join vmes_user maintainUser on task.maintain_user = maintainUser.id
        <where>
            <if test="companyId != null and companyId != ''">
                and maintain.company_id = #{companyId}
            </if>
            <if test="equipmentId != null and equipmentId != ''">
                and maintain.equipment_id = #{equipmentId}
            </if>
            <if test="maintainContentId != null and maintainContentId != ''">
                and maintain.maintain_content_id = #{maintainContentId}
            </if>
            <if test="planId != null and planId != ''">
                and maintain.plan_id = #{planId}
            </if>

            <if test="isValidState != null and isValidState != ''">
                and maintain.is_valid_state = #{isValidState}
            </if>
            <if test="isdisable != null and isdisable != ''">
                and maintain.isdisable = #{isdisable}
            </if>

            <!--页面查询条件-->
            <if test="equipmentCode != null and equipmentCode != ''">
                and equipment.code LIKE CONCAT(CONCAT('%', #{equipmentCode}),'%')
            </if>
            <if test="equipmentName != null and equipmentName != ''">
                and equipment.name LIKE CONCAT(CONCAT('%', #{equipmentName}),'%')
            </if>
            <if test="equipmentState != null and equipmentState != ''">
                and maintain.equipment_state = #{equipmentState}
            </if>

            <!--queryStr 自定义sql查询语句-->
            <if test="queryStr != null and queryStr != ''" >
                and ${queryStr}
            </if>

        </where>
        <if test="orderStr != null and orderStr != ''" >
            order by ${orderStr}
        </if>
    </select>


</mapper>