<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：仓库管理(入库,出库,盘点,移库)任务单
创建人：房兆琦
创建时间：2018-10-16
 -->
<mapper namespace="com.xy.vmes.deecoop.mobile.dao.MobileWarehouseTaskMapper">

    <select id="findListPageWarehouseTaskList" parameterType="com.yvan.PageData" resultType="java.util.Map">
        <!--入库-->
        select
        '1' as taskType,
        'warehouseIn' taskTypeName,
        win.code code,
        detail.id taskDetailID,
        round(ifnull(detail.count,0), 2) taskCount,
        detail.product_id productID,
        product.code productCode,
        product.name productName,
        product.spec spec,
        genre.name genreName,
        unit.name unitName,
        executor.cdate cDate,
        executor.udate uDate
        from vmes_warehouse_in_executor executor
        left join vmes_warehouse_in_detail detail on executor.detail_id = detail.id
        left join vmes_warehouse_in win on win.id = detail.parent_id
        left join vmes_product product on detail.product_id = product .id
        left join vmes_product_unit produnit on produnit.product_id = product .id and produnit.type = 1
        left join vmes_dictionary unit on produnit.unit = unit.id
        left join vmes_dictionary genre on product.genre = genre.id
        <where>
            <if test="currentCompanyId != null and currentCompanyId != ''" >
                and win.company_id=#{currentCompanyId}
            </if>
            <if test="executorId != null and executorId != ''" >
                and executor.executor_id=#{executorId}
            </if>
            <if test="dtlState != null and dtlState != ''" >
                and detail.state = #{dtlState}
            </if>
        </where>

        union all
        <!--出库-->
        select
        '2' as taskType,
        'warehouseOut' taskTypeName,
        wout.code code,
        detail.id taskDetailID,
        round(ifnull(detail.count,0), 2) taskCount,
        detail.product_id productID,
        product.code productCode,
        product.name productName,
        product.spec spec,
        genre.name genreName,
        unit.name unitName,
        executor.cdate cDate,
        executor.udate uDate
        from vmes_warehouse_out_executor executor
        left join vmes_warehouse_out_detail detail on executor.detail_id = detail.id
        left join vmes_warehouse_out wout on wout.id = detail.parent_id
        left join vmes_product product on detail.product_id = product .id
        left join vmes_product_unit produnit on produnit.product_id = product .id and produnit.type = 1
        left join vmes_dictionary unit on produnit.unit = unit.id
        left join vmes_dictionary genre on product.genre = genre.id
        <where>
            <if test="currentCompanyId != null and currentCompanyId != ''" >
                and wout.company_id=#{currentCompanyId}
            </if>
            <if test="executorId != null and executorId != ''" >
                and executor.executor_id=#{executorId}
            </if>
            <if test="dtlState != null and dtlState != ''" >
                and detail.state = #{dtlState}
            </if>
        </where>

        union all
        <!--盘点-->
        select
        '3' as taskType,
        'warehouseCheck' taskTypeName,
        wcheck.code code,
        detail.id taskDetailID,
        round(ifnull(detail.stock_count,0), 2) taskCount,
        detail.product_id productID,
        product.code productCode,
        product.name productName,
        product.spec spec,
        genre.name genreName,
        unit.name unitName,
        executor.cdate cDate,
        executor.udate uDate
        from vmes_warehouse_check_executor executor
        left join vmes_warehouse_check_detail detail on executor.detail_id = detail.id
        left join vmes_warehouse_check wcheck on wcheck.id = detail.parent_id
        left join vmes_product product on detail.product_id = product .id
        left join vmes_product_unit produnit on produnit.product_id = product .id and produnit.type = 1
        left join vmes_dictionary unit on produnit.unit = unit.id
        left join vmes_dictionary genre on product.genre = genre.id
        <where>
            <if test="currentCompanyId != null and currentCompanyId != ''" >
                and wcheck.company_id=#{currentCompanyId}
            </if>
            <if test="executorId != null and executorId != ''" >
                and executor.executor_id=#{executorId}
            </if>
            <if test="dtlState != null and dtlState != ''" >
                and detail.state = #{dtlState}
            </if>
        </where>

        union all

        select
        '4' as taskType,
        'warehouseMove' taskTypeName,
        wmove.code code,
        detail.id taskDetailID,
        round(ifnull(detail.count,0), 2) taskCount,
        detail.warehouse_product_id productID,
        product.code productCode,
        product.name productName,
        product.spec spec,
        genre.name genreName,
        unit.name unitName,
        executor.cdate cDate,
        executor.udate uDate

        from vmes_warehouse_move_executor executor
        left join vmes_warehouse_move_detail detail on executor.detail_id = detail.id
        left join vmes_warehouse_product wp on wp.id = detail.warehouse_product_id
        left join vmes_warehouse_move wmove on wmove.id = detail.parent_id
        left join vmes_product product on wp.product_id = product .id
        left join vmes_product_unit produnit on produnit.product_id = product .id and produnit.type = 1
        left join vmes_dictionary unit on produnit.unit = unit.id
        left join vmes_dictionary genre on product.genre = genre.id
        <where>
            <if test="currentCompanyId != null and currentCompanyId != ''" >
                and wmove.company_id=#{currentCompanyId}
            </if>
            <if test="executorId != null and executorId != ''" >
                and executor.executor_id=#{executorId}
            </if>
            <if test="dtlState != null and dtlState != ''" >
                and detail.state = #{dtlState}
            </if>
        </where>

        order by taskType,cDate desc

    </select>


</mapper>