<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：手机端盘点
创建人：房兆琦
创建时间：2018-10-16
 -->
<mapper namespace="com.xy.vmes.deecoop.mobile.dao.MobileWarehouseInMapper">

    <!-- 手机端获得入库详细信息 -->
    <select id="findWarehouseIn" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
        detail.product_id productId,
        detail.id detailId,
        win.id parentId,
        type.name typeName,
        win.dept_name deptName,
        round(ifnull(detail.count,0),2) taskCount,
        product.code productCode,
        product.name productName,
        product.spec spec,
        genre.name genreName,
        unit.name unitName,
        detail.code pathCode,
        warehouse.path_name pathName,
        detail.warehouse_id warehouseId,
        inDtlExecute.startDate,
        inDtlExecute.endDate,
        round(ifnull(inDtlExecute.executeCount,0),2) completeCount,
        round((ifnull(detail.count,0) - ifnull(inDtlExecute.executeCount,0)), 2) unCompleteCount
        from vmes_warehouse_in_detail detail
            left join vmes_warehouse_in win on win.id = detail.parent_id
            left join vmes_dictionary type on win.type = type.id
            left join vmes_product product on detail.product_id = product.id
            left join vmes_product_unit produnit on produnit.product_id = product .id and produnit.type = 1
            left join vmes_dictionary unit on produnit.unit = unit.id
            left join vmes_dictionary genre on product.genre = genre.id
            left join vmes_warehouse warehouse on warehouse.id = detail.warehouse_id
            <!--入库执行表汇总-->
            left join (
                select inExecute.detail_id, sum(ifnull(inExecute.count,0)) executeCount,DATE_FORMAT(min(executor.cdate),'%Y-%m-%d %T') startDate,DATE_FORMAT(max(inExecute.cdate),'%Y-%m-%d %T') endDate
                from vmes_warehouse_in_execute inExecute
                    left join vmes_warehouse_in_executor executor on inExecute.detail_id = executor.detail_id
                        and inExecute.executor_id = executor.executor_id
                        and executor.isdisable = '1'
                where inExecute.isdisable = '1'
                group by detail_id
            ) inDtlExecute on detail.id = inDtlExecute.detail_id

        <where>
            <if test="detailId != null and detailId != ''" >
                and detail.id = #{detailId}
            </if>
        </where>
    </select>

    <select id="listWarehouseInExecuteCount" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
            round(ifnull(inExecute.count,0),2) executeCount,
            warehouse.path_name pathName
        from vmes_warehouse_in_execute inExecute
            left join vmes_warehouse warehouse on inExecute.warehouse_id = warehouse.id
        <where>
            <if test="detailId != null and detailId != ''" >
                and inExecute.detail_id = #{detailId}
            </if>
        </where>
    </select>


</mapper>