<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：vmes_purchase_payment_history:供应商账期汇总 Mapper.xml
创建人：陈刚 自动创建
创建时间：2019-03-11
 -->
<mapper namespace="com.xy.vmes.deecoop.purchase.dao.PurchasePaymentHistoryMapper">

    <!-- 批量删除 自动创建，禁止修改-->
    <delete id="deleteByIds" parameterType="java.lang.String">
        delete from vmes_purchase_payment_history
        where id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 自动创建，禁止修改-->
    <update id="updateToDisableByIds" parameterType="java.lang.String" >
        update vmes_purchase_payment_history
        set isdisable = '0' ,udate = now()
        where id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!-- ***************************************************以上为自动生成代码禁止修改，请在下面添加业务代码************************************************* -->
    <insert id="insertColumn" >
        delete from vmes_column where model_code = 'purchasePaymentHistory' ;
        insert into vmes_column (
        id,model_code,title_key,title_name,serial_number,
        isdisable,ishide,isedit,ismust,cdate,
        cuser
        ) VALUES
        (replace(uuid(), '-', ''),'purchasePaymentHistory','id','id',0, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchasePaymentHistory','supplierId','供应商ID',1, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchasePaymentHistory','supplierCode','供应商编号',2, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchasePaymentHistory','supplierName','供应商名称',3, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchasePaymentHistory','paymentPeriod','付款期间',4, '1','1','1','0',now(), 'admin'),

        (replace(uuid(), '-', ''),'purchasePaymentHistory','beginPlus','应付款(期初)',5, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchasePaymentHistory','beginMinus','预付款(期初)',6, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchasePaymentHistory','beginValue','付款值(期初)',7, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchasePaymentHistory','nowOrderSum','采购订单金额(本期)',8, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchasePaymentHistory','nowPaymentSum','付款金额(本期)',9, '1','1','1','0',now(), 'admin'),

        (replace(uuid(), '-', ''),'purchasePaymentHistory','endPlus','应付款(期末)',10, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchasePaymentHistory','endMinus','预付款(期末)',11, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchasePaymentHistory','endValue','付款值(期末)',12, '1','1','1','0',now(), 'admin'),

        (replace(uuid(), '-', ''),'purchasePaymentHistory','isPaymentPeriod','是否当前付款期间',13, '1','1','1','0',now(), 'admin')

    </insert>


    <!-- 列表(全部) 自动创建，禁止修改-->
    <select id="dataList" parameterType="com.yvan.PageData" resultType="com.xy.vmes.entity.PurchasePaymentHistory">
        select
        id id,
        supplier_id supplierId,
        payment_period paymentPeriod,
        begin_plus beginPlus,
        begin_minus beginMinus,

        begin_value beginValue,
        now_order_sum nowOrderSum,
        now_payment_sum nowPaymentSum,
        end_plus endPlus,
        end_minus endMinus,

        end_value endValue,
        cuser cuser,
        cdate cdate,
        uuser uuser,
        udate udate,

        remark remark,
        isdisable isdisable
        from vmes_purchase_payment_history
        <where>
            <!--isSelfExist 是否考虑自己在业务表中是否存在
                false: (false or is null) 无需考虑自己在业务表中是否存在
                true : 需要考虑自己在业务表中是否存在
            -->
            <if test="id != null and id != ''" >
                <choose>
                    <when test="'true' == isSelfExist">
                        <![CDATA[ and id <> #{id} ]]>
                    </when>
                    <otherwise>
                        and id = #{id}
                    </otherwise>
                </choose>
            </if>


            <!--queryStr 自定义sql查询语句-->
            <if test="queryStr != null and queryStr != ''" >
                and ${queryStr}
            </if>
        </where>
        <if test="orderStr != null and orderStr != ''" >
            order by ${orderStr}
        </if>
    </select>

    <select id="findListPurchasePaymentHistoryByPaymentPeriod" parameterType="com.yvan.PageData" resultType="java.util.Map">
        <!--供应商付款汇总历史(当前付款期-以前)-->
        select
        a.id id,
        a.supplier_id supplierId,
        b.code supplierCode,
        b.name supplierName,

        a.begin_plus beginPlus,
        a.begin_minus beginMinus,
        a.begin_value beginValue,

        a.now_order_sum nowOrderSum,
        a.now_payment_sum nowPaymentSum,

        a.end_value endValue,
        a.end_plus endPlus,
        a.end_minus endMinus,

        a.payment_period paymentPeriod
        from vmes_purchase_payment_history a
            left join vmes_customer b on a.supplier_id = b.id
        <where>
            <if test="currentCompanyId != null and currentCompanyId != ''" >
                and b.company_id = #{currentCompanyId}
            </if>
            <if test="dateByNow != null and dateByNow != ''" >
                <![CDATA[ and a.payment_period < #{dateByNow} ]]>
            </if>
        </where>
        UNION ALL
        select
        replace(uuid(), '-', '') id,
        supplier.id supplierId,
        supplier.code supplierCode,
        supplier.name supplierName,

        round(ifnull(paymentHist.end_plus, 0),2) beginPlus,
        round(ifnull(paymentHist.end_minus, 0),2) beginMinus,
        round(ifnull(paymentHist.end_value, 0),2) beginValue,

        round(ifnull(purchaseOrder.purchaseSum, 0),2) nowOrderSum,
        round(ifnull(purchasePayment.paymentSum, 0),2) nowReceiveSum,

        <!-- (本期)订单金额 - (本期)付款 + (初期)应付款-(初期)预付款 -->
        round((ifnull(purchaseOrder.purchaseSum, 0) - ifnull(purchasePayment.paymentSum, 0) + ifnull(paymentHist.end_value, 0)), 2) endValue,
        '' endPlus,
        '' endMinus

        <if test="dateByNow != null and dateByNow != ''">
            ,#{dateByNow} paymentPeriod
        </if>
        <!--获取当前企业全部供应商 and 供应商付款初期设定-->
        from (
            select a.id,a.code,a.name
            from vmes_customer a
                left join vmes_purchase_payment_build b on a.id = b.supplier_id
            <where>
                <if test="currentCompanyId != null and currentCompanyId != ''" >
                    and a.company_id = #{currentCompanyId} and a.genre = '49c0a7ebcb4c4175bd5195837a6a9a13'
                </if>
                <if test="dateByBefore != null and dateByBefore != ''" >
                    <![CDATA[ and b.payment_period >= #{dateByBefore} ]]>
                </if>
            </where>
        ) supplier
        left join (
            select supplier_id,payment_period,end_plus,end_minus,end_value
            from vmes_purchase_payment_history
            <where>
                <if test="dateByBefore != null and dateByBefore != ''" >
                    and payment_period = #{dateByBefore}
                </if>
            </where>
        ) paymentHist on supplier.id = paymentHist.supplier_id
        <!--采购订单表汇总-->
        left join (
            select supplier_id, sum(amount) purchaseSum
            from vmes_purchase_order
            <where>
                <if test="currentCompanyId != null and currentCompanyId != ''" >
                    and company_id = #{currentCompanyId}
                </if>
                <if test="dateByNow != null and dateByNow != ''">
                    and date_format(cdate, '%Y%m') = #{dateByNow}
                </if>
            </where>
            group by supplier_id
        ) purchaseOrder on supplier.id = purchaseOrder.supplier_id
        <!--采购付款表汇总-->
        left join (
            select supplier_id,sum(payment_sum) paymentSum
            from vmes_purchase_payment_record
            <where>
                <if test="currentCompanyId != null and currentCompanyId != ''" >
                    and company_id = #{currentCompanyId} and type = '1'
                </if>
                <if test="dateByNow != null and dateByNow != ''">
                    and date_format(cdate, '%Y%m') = #{dateByNow}
                </if>
            </where>
            group by supplier_id
        ) purchasePayment on supplier.id = purchasePayment.supplier_id

    </select>





</mapper>