<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xy.vmes.deecoop.purchase.dao.PurchaseOrderDetailByRetreatMapper">

    <insert id="insertColumn" >
        delete from vmes_column where model_code = 'purchaseOrderDetailByRetreat' ;
        insert into vmes_column (
        id,model_code,title_key,title_name,serial_number,
        isdisable,ishide,isedit,ismust,cdate,
        cuser
        ) VALUES
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','id','id',0, '1','0','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','parentId','采购订单ID',1, '1','0','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','planId','采购计划明细ID',2, '1','0','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','productId','产品ID',3, '1','0','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','reason','采购原因ID',4, '1','0','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','reasonName','采购原因',4, '1','1','1','0',now(), 'admin'),

        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','unit','采购单位ID',5, '1','0','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','unitName','采购单位',5, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','count','采购数量',6, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','arriveCount','到货数量',7, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','price','单价',8, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','amount','采购金额',9, '1','1','1','0',now(), 'admin'),

        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','edate','期望到货时间',10, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','adate','实际到货时间',11, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','state','明细状态',12, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','cuser','创建用户id',13, '1','0','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','cdate','创建时间',14, '1','0','1','0',now(), 'admin'),

        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','uuser','修改用户id',15, '1','0','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','udate','修改时间',16, '1','0','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','attachment','附件',17, '1','0','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','remark','采购补充说明',18, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','isdisable','是否启用',19, '1','0','1','0',now(), 'admin'),

        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','productCode','货品编码',20, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','productName','货品名称',21, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','productSpec','规格型号',22, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','productGenre','货品属性id',23, '1','0','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','productGenreName','货品属性',24, '1','0','1','0',now(), 'admin'),

        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','signDate','到货日期',25, '1','0','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','maxRetreatCount','可退货数量',26, '1','0','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','retreatCount','本次退货数量',27, '1','0','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseOrderDetailByRetreat','retreatRemark','退货原因',28, '1','0','1','0',now(), 'admin')
    </insert>

    <select id="findOrderDetailByRetreat" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
        detail.id id,
        detail.parent_id parentId,
        detail.plan_id planId,
        detail.product_id productId,
        detail.reason reason,
        reason.name reasonName,

        detail.unit,
        orderUnit.name unitName,
        detail.count count,
        round(ifnull(signDetail.arrive_count, 0), 2) arriveCount,
        detail.price price,
        detail.amount amount,

        detail.edate edate,
        detail.adate adate,
        detail.state state,
        detail.cuser cuser,
        detail.cdate cdate,

        detail.uuser uuser,
        detail.udate udate,
        detail.attachment attachment,
        detail.remark remark,
        detail.isdisable isdisable,

        <!--货品表-->
        product.code sysProductCode,
        product.source_code custProductCode,
        CASE
          WHEN product.source_code is null THEN product.code
          WHEN product.source_code is not null THEN product.source_code
        ELSE null
        END productCode,
        product.name productName,
        product.spec productSpec,
        product.genre productGenre,
        genre.name productGenreName,

        <!--可退货数量:= 签收数量(到货数量) - 生成退货数量 -->
        round((ifnull(signDetail.arrive_count, 0) - ifnull(retreatDetail.retreat_count, 0)), 2) maxRetreatCount,
        round((ifnull(signDetail.arrive_count, 0) - ifnull(retreatDetail.retreat_count, 0)), 2) retreatCount,
        '' retreatRemark,

        CASE
        WHEN signDetail.cdate is not null THEN DATE_FORMAT(signDetail.cdate,'%Y-%m-%d')
        ELSE null
        END signDate

        from vmes_purchase_order_detail detail
        left join vmes_product product on detail.product_id = product.id
        left join vmes_dictionary genre on product.genre = genre.id
        left join vmes_dictionary orderUnit on detail.unit = orderUnit.id
        left join vmes_dictionary reason on detail.reason = reason.id

        <!--获取到货日期 按(采购订单明细id)汇总 vmes_purchase_sign_detail-->
        left join (
        select order_detail_id, max(cdate) cdate, sum(arrive_count) arrive_count
        from vmes_purchase_sign_detail
        where isdisable = '1'
        group by order_detail_id
        ) signDetail on detail.id = signDetail.order_detail_id

        <!--获取已生成退货数量 按(采购订单明细id)汇总 vmes_purchase_retreat_detail-->
        left join (
            select a.order_detail_id,sum(a.count) retreat_count
            from vmes_purchase_retreat_detail a
            left join vmes_purchase_retreat b on a.parent_id = b.id
            <where>
                <if test="orderId != null and orderId != ''" >
                    and b.order_id = #{orderId}
                </if>
                and <![CDATA[ a.state <> '-1' ]]>
            </where>
            group by a.order_detail_id
        ) retreatDetail on detail.id = retreatDetail.order_detail_id
        <where>
            <if test="detailIds != null and detailIds != ''" >
                and detail.id in (${detailIds})
            </if>
            <!--queryStr 自定义sql查询语句-->
            <if test="queryStr != null and queryStr != ''" >
                and ${queryStr}
            </if>
        </where>
        <if test="orderStr != null and orderStr != ''" >
            order by ${orderStr}
        </if>
    </select>
</mapper>