<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：采购退货明细关联出库明细 Mapper.xml
创建人：陈刚
创建时间：2019-08-28
 -->
<mapper namespace="com.xy.vmes.deecoop.purchase.dao.PurchaseRetreatDetailOnOutMapper">

    <insert id="purchaseRetreatDetailOnOutDetail" >
    delete from vmes_column where model_code = 'purchaseRetreatDetailOnOutDetail';
    insert into vmes_column (
    id,model_code,title_key,title_name,serial_number,
    isdisable,ishide,isedit,ismust,cdate,
    cuser
    ) VALUES
        (replace(uuid(), '-', ''),'purchaseRetreatDetailOnOutDetail','id','id',0, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseRetreatDetailOnOutDetail','parentId','退货单ID',1, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseRetreatDetailOnOutDetail','orderDetailId','采购订单明细ID',2, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseRetreatDetailOnOutDetail','outDetailId','出库明细ID',3, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseRetreatDetailOnOutDetail','productId','货品ID',4, '1','1','1','0',now(), 'admin'),

        (replace(uuid(), '-', ''),'purchaseRetreatDetailOnOutDetail','amount','退货金额',5, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseRetreatDetailOnOutDetail','unit','单位ID',6, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseRetreatDetailOnOutDetail','count','退货数量',7, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseRetreatDetailOnOutDetail','state','状态',8, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseRetreatDetailOnOutDetail','stateName','状态',8, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseRetreatDetailOnOutDetail','cuser','创建用户id',9, '1','1','1','0',now(), 'admin'),

        (replace(uuid(), '-', ''),'purchaseRetreatDetailOnOutDetail','cdate','创建时间',10, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseRetreatDetailOnOutDetail','uuser','修改用户id',11, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseRetreatDetailOnOutDetail','udate','修改时间',12, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseRetreatDetailOnOutDetail','remark','备注',13, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseRetreatDetailOnOutDetail','isdisable','是否启用',14, '1','1','1','0',now(), 'admin'),

        (replace(uuid(), '-', ''),'purchaseRetreatDetailOnOutDetail','orderUnit','单位id',15, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseRetreatDetailOnOutDetail','orderUnitName','单位',15, '1','1','1','0',now(), 'admin'),

        (replace(uuid(), '-', ''), 'purchaseRetreatDetailOnOutDetail', 'productCode', '货品编码', 16, '1', '1', '1', '0', '2018-12-5 17:38:48', 'admin'),
        (replace(uuid(), '-', ''), 'purchaseRetreatDetailOnOutDetail', 'productName', '货品名称', 17, '1', '1', '1', '0', '2018-12-5 17:38:48', 'admin'),
        (replace(uuid(), '-', ''), 'purchaseRetreatDetailOnOutDetail', 'productSpec', '规格型号', 18, '1', '1', '1', '0', '2018-12-5 17:38:48', 'admin'),
        (replace(uuid(), '-', ''), 'purchaseRetreatDetailOnOutDetail', 'productGenre', '货品属性id', 19, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),
        (replace(uuid(), '-', ''), 'purchaseRetreatDetailOnOutDetail', 'productGenreName', '货品属性', 20, '1', '1', '1', '0', '2018-12-5 17:38:48', 'admin'),
        (replace(uuid(), '-', ''), 'purchaseRetreatDetailOnOutDetail', 'productUnit', '计量单位id', 21, '1', '1', '1', '0', '2018-12-5 17:38:48', 'admin'),
        (replace(uuid(), '-', ''), 'purchaseRetreatDetailOnOutDetail', 'productUnitName', '计量单位', 22, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),

        (replace(uuid(), '-', ''), 'purchaseRetreatDetailOnOutDetail', 'sysCode', '退货编号', 23, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''),'purchaseRetreatDetailOnOutDetail','supplierId','供应商id',24, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseRetreatDetailOnOutDetail','supplierCode','供应商编号',25, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseRetreatDetailOnOutDetail','supplierName','供应商名称',26, '1','1','1','0',now(), 'admin'),

        (replace(uuid(), '-', ''),'purchaseRetreatDetailOnOutDetail','n2pFormula','n2pFormula',27, '1','0','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'purchaseRetreatDetailOnOutDetail','p2nFormula','p2nFormula',28, '1','0','1','0',now(), 'admin'),

    </insert>

    <select id="findPurchaseRetreatDetailOnOutDetail" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
            retreatDetail.id id,
            retreatDetail.parent_id parentId,
            retreatDetail.order_detail_id orderDetailId,
            retreatDetail.out_detail_id outDetailId,
            retreatDetail.product_id productId,

            round(ifnull(retreatDetail.amount, 0), 2) amount,
            retreatDetail.unit unit,
            round(ifnull(retreatDetail.count, 0), 2) count,
            retreatDetail.state state,
            CASE
                WHEN retreatDetail.state = '1' THEN '待审核'
                WHEN retreatDetail.state = '2' THEN '待退货'
                WHEN retreatDetail.state = '3' THEN '已完成'
                WHEN retreatDetail.state = '-1' THEN '已取消'
            ELSE null
            END stateName,
            retreatDetail.cuser cuser,

            retreatDetail.cdate cdate,
            retreatDetail.uuser uuser,
            retreatDetail.udate udate,
            retreatDetail.remark remark,
            retreatDetail.isdisable isdisable,

            retreat.sys_code sysCode,
            retreat.supplier_id supplierId,
            supplier.code supplierCode,
            supplier.name supplierName,

            <!--货品表-->
            product.code productCode,
            product.name productName,
            product.spec productSpec,
            product.genre productGenre,
            genre.name productGenreName,
            prodUnit.unit productUnit,
            prodUnitName.name productUnitName,

            <!--货品订单单位 (计量,计价)单位转换公式-->
            retreatDetail.unit orderUnit,
            orderUnit.name orderUnitName,
            prodOrderUnit.np_formula n2pFormula,
            prodOrderUnit.pn_formula p2nFormula

        from vmes_purchase_retreat_detail retreatDetail
            left join vmes_purchase_retreat retreat on retreatDetail.parent_id = retreat.id
            left join vmes_customer supplier on retreat.supplier_id = supplier.id

            left join vmes_product product on retreatDetail.product_id = product.id
            left join vmes_dictionary genre on product.genre = genre.id

            <!--货品计量单位 type:单位类型 (1:计量单位 0:计价单位)-->
            left join vmes_product_unit prodUnit on (retreatDetail.product_id = prodUnit.product_id and prodUnit.type = '1')
            left join vmes_dictionary prodUnitName on prodUnit.unit = prodUnitName.id

            <!--货品订单单位-->
            left join vmes_dictionary orderUnit on retreatDetail.unit = orderUnit.id
            left join vmes_product_unit prodOrderUnit on (retreatDetail.product_id = prodOrderUnit.product_id and retreatDetail.unit = prodOrderUnit.unit and prodOrderUnit.isdisable = '1')

        <where>
            <!--出库单id-->
            <if test="outParentId != null and outParentId != ''" >
                and retreatDetail.out_detail_id in (
                    select id from vmes_warehouse_out_detail
                    where parent_id = #{outParentId}
                )
            </if>

        </where>

        <if test="orderStr != null and orderStr != ''" >
            order by ${orderStr}
        </if>
    </select>

</mapper>