<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：销售订单明细查询 Mapper.xml
采购-采购计划管理-(勾选订单明细)-弹出界面查询
创建人：陈刚
创建时间：2020-01-20
 -->
<mapper namespace="com.xy.vmes.deecoop.sale.dao.SaleOrderDetailByPurchasePlanMapper">
    <insert id="saleOrderDetailByPurchasePlan">
        delete from vmes_column where model_code = 'saleOrderDetailByPurchasePlan';
        insert into vmes_column (
        id,model_code,title_key,title_name,serial_number,
        isdisable,ishide,isedit,ismust,cdate,
        cuser
        ) VALUES
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'id', 'id', 0, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'orderDtlId', '订单明细id', 1, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'parentId', '订单id', 2, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'state', '明细状态id', 3, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'productId', '货品id', 4, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'orderUnit', '单位id', 5, '1', '0', '1', '0', now(), 'admin'),

            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'deliverDate', '约定交期', 6, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'remark', '备注', 7, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'orderCount', '订购数量', 8, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'lockCount', '锁定货品数量', 9, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'stateName', '状态', 10, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'endDeliverCount', '已发货数量', 11, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'isNeedPurchase', '是否需要采购', 12, '1', '1', '1', '0', now(), 'admin'),

            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'sysCode', '订单编号', 13, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'customerName', '客户名称', 14, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'orderDate', '下单日期', 15, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'expectDate', '约定交期', 16, '1', '1', '1', '0', now(), 'admin'),

            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'productCode', '货品编码', 17, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'productName', '货品名称', 18, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'productSpec', '规格型号', 19, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'productProperty', '自定义属性', 20, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'productGenre', '货品属性id', 21, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'safetyCount', '安全库存', 22, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'prodUnitId', '计量单位id', 23, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'prodUnitName', '计量单位', 24, '1', '1', '1', '0', now(), 'admin'),

            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'orderUnitName', '单位', 25, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'p2nFormula', 'p2nFormula', 26, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'p2nIsScale', 'p2n:是否需要四舍五入', 27, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'p2nDecimalCount', 'p2n:保留小数位数', 28, '1', '0', '1', '0', now(), 'admin'),

            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'n2pFormula', 'n2pFormula', 29, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'n2pIsScale', 'n2p:是否需要四舍五入', 30, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'n2pDecimalCount', 'n2p:保留小数位数', 31, '1', '0', '1', '0', now(), 'admin'),

            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'producePlanName', '排产状态', 32, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'allowStockCount', '库存数量', 33, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'purchasePlanCount', '计划数量', 34, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'endRetreatCount', '已退货数量', 35, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByPurchasePlan', 'minPlanCount', '最小计划数', 36, '1', '0', '1', '0', now(), 'admin'),

    </insert>


    <select id="listOrderDetaiByPurchasePlan" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
            md5(uuid()) id,
            orderDtl.id orderDtlId,
            orderDtl.parent_id parentId,
            orderDtl.state state,
            orderDtl.product_id productId,
            orderDtl.order_unit orderUnit,

            DATE_FORMAT(orderDtl.deliver_date,'%Y-%m-%d') deliverDate,
            orderDtl.remark remark,
            round(ifnull(orderDtl.order_count, 0),2) orderCount,
            round(ifnull(orderDtl.lock_count, 0),2) lockCount,
            CASE
                WHEN orderDtl.state = '0' THEN '待提交'
                WHEN orderDtl.state = '1' THEN '待审核'
                WHEN orderDtl.state = '2' THEN '待生产'
                WHEN orderDtl.state = '3' THEN '待出库'
                WHEN orderDtl.state = '4' THEN '待发货'
                WHEN orderDtl.state = '5' THEN '已完成'
                WHEN orderDtl.state = '-1' THEN '已取消'
            ELSE null
            END stateName,
            <!--获取已发货数量-->
            round(ifnull(deliverDtl.count, 0), 2) endDeliverCount,
            <!--获取已退货数量-->
            round(ifnull(retreatDtl.count, 0), 2) endRetreatCount,

            orderDtl.is_need_purchase isNeedPurchase,

            saleOrder.sys_code sysCode,
            customer.name customerName,
            DATE_FORMAT(saleOrder.order_date,'%Y-%m-%d') orderDate,
            DATE_FORMAT(saleOrder.expect_date,'%Y-%m-%d') expectDate,

            CASE
            WHEN planDtlChild.plan_dtl_id is not null THEN '已排产'
            WHEN planDtlChild.plan_dtl_id is null or CHAR_LENGTH(TRIM(planDtlChild.plan_dtl_id)) = 0 THEN '未排产'
            ELSE null
            END producePlanName,

            <!--货品表-->
            product.code sysProductCode,
            product.source_code custProductCode,
            CASE
            WHEN product.source_code is null THEN product.code
            WHEN product.source_code is not null THEN product.source_code
            ELSE null
            END productCode,
            product.name productName,
            product.spec productSpec,
            product.property productProperty,
            product.genre productGenre,
            round(ifnull(product.safety_count, 0), 2) safetyCount,
            <!--(计量单位)货品单位-->
            prodUnit.unit prodUnitId,
            prodUnitName.name prodUnitName,

            <!--(单据)货品单位-->
            orderUnit.name orderUnitName,
            prodUnitPrice.np_formula n2pFormula,
            prodUnitPrice.n2p_is_scale n2pIsScale,
            prodUnitPrice.n2p_decimal_count n2pDecimalCount,

            prodUnitPrice.pn_formula p2nFormula,
            prodUnitPrice.p2n_is_scale p2nIsScale,
            prodUnitPrice.p2n_decimal_count p2nDecimalCount,

            <!--可用库存数量: 库存数量 - 货品锁库数量 + (销售订单)货品锁库数量 allowStockCount -->
            round((ifnull(product.stock_count, 0) - ifnull(product.lock_count, 0) + ifnull(orderDtl.lock_count, 0)),2) allowStockCount,

            <!--java 类实现(purchasePlanCount,minPlanCount) -->
            '' purchasePlanCount,
            '' minPlanCount

        from vmes_sale_order_detail orderDtl
            left join vmes_sale_order saleOrder on orderDtl.parent_id = saleOrder.id
            left join vmes_customer customer on saleOrder.customer_id = customer.id

            left join vmes_product product on orderDtl.product_id = product.id
            left join vmes_dictionary orderUnit on orderDtl.order_unit = orderUnit.id
            left join vmes_product_unit prodUnitPrice on (orderDtl.product_id = prodUnitPrice.product_id and orderDtl.order_unit = prodUnitPrice.unit)

            <!--货品计量单位-->
            left join vmes_product_unit prodUnit on orderDtl.product_id = prodUnit.product_id and prodUnit.type = 1
            left join vmes_dictionary prodUnitName on prodUnit.unit = prodUnitName.id

            <!--vmes_purchase_plan_detail_child (销售订单明细,生产计划明细)关联关系-->
            left join vmes_purchase_plan_detail_child planDtlChild on orderDtl.id = planDtlChild.sale_order_dtl_id

            <!--获取已发货数量 按(销售订单明细id)汇总发货明细表-->
            left join (
                select order_detai_id, sum(order_count) count
                from vmes_sale_deliver_detail
                where state = '1'
                group by order_detai_id
            ) deliverDtl on orderDtl.id = deliverDtl.order_detai_id

            <!--获取已退货数量 按(销售订单明细id)汇总退货明细表-->
            left join (
                select order_detail_id, sum(order_count) count
                from vmes_sale_retreat_detail
                where state = '3'
                group by order_detail_id
            ) retreatDtl on orderDtl.id = retreatDtl.order_detail_id
        <where>
            <if test="orderDtlIds != null and orderDtlIds != ''" >
                and orderDtl.id in (${orderDtlIds})
            </if>
            <if test="parentId != null and parentId != ''" >
                and orderDtl.parent_id = #{parentId}
            </if>
            <!--销售订单明细状态(0:待提交 1:待审核 2:待生产 3:待出库 4:待发货 5:已完成(发货) -1:已取消)-->
            <if test="inOrderDtlState != null and inOrderDtlState != ''" >
                and orderDtl.state in (${inOrderDtlState})
            </if>

            <if test="currentCompanyId != null and currentCompanyId != ''" >
                and saleOrder.company_id = #{currentCompanyId}
            </if>
            <if test="sysCode != null and sysCode != ''" >
                and saleOrder.sys_code = #{sysCode}
            </if>
            <if test="customerName != null and customerName != ''">
                and customer.name LIKE CONCAT(CONCAT(#{customerName}),'%')
            </if>

            <!--isBindOrderProduce:true 已排产  -->
            <if test="'true' == isBindOrderProduce" >
                and planDtlChild.plan_dtl_id is not null
            </if>
            <!--isBindOrderProduce:false 未排产  -->
            <if test="'false' == isBindOrderProduce" >
                and (planDtlChild.plan_dtl_id is null or CHAR_LENGTH(TRIM(planDtlChild.plan_dtl_id)) = 0)
            </if>


            <!--vmes_sale_order_detail.is_need_purchase 是否需要采购(0:不需要 1:需要)-->
            <if test="'true' == isNeedPurchase" >
                and orderDtl.is_need_purchase = '1'
            </if>
            <if test="'false' == isNeedPurchase" >
                and (is_need_purchase = '0' or (is_need_purchase is null or CHAR_LENGTH(TRIM(is_need_purchase)) = 0))
            </if>

        </where>
        <if test="orderStr != null and orderStr != ''" >
            order by ${orderStr}
        </if>

    </select>
</mapper>