<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：vmes_saleOrde_change:订单变更记录表 Mapper.xml
创建人：陈刚 自动创建
创建时间：2019-11-05
 -->
<mapper namespace="com.xy.vmes.deecoop.sale.dao.SaleOrderChangeMapper">

    <!-- 批量删除 自动创建，禁止修改-->
    <delete id="deleteByIds" parameterType="java.lang.String">
        delete from vmes_sale_order_change
        where id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
		#{item}
        </foreach>
    </delete>

    <!-- 自动创建，禁止修改-->
    <update id="updateToDisableByIds" parameterType="java.lang.String" >
        update vmes_sale_order_change
        set isdisable = '0' ,udate = now()
        where id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
        #{item}
        </foreach>
    </update>

    <!-- ***************************************************以上为自动生成代码禁止修改，请在下面添加业务代码************************************************* -->
    <insert id="insertColumn" >
        delete from vmes_column where model_code = 'saleOrdeChange' ;
        insert into vmes_column (
        id,model_code,title_key,title_name,serial_number,
        isdisable,ishide,isedit,ismust,cdate,
        cuser
        ) VALUES
            (replace(uuid(), '-', ''),'saleOrderChange','id','id',0, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderChange','companyId','企业id',1, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderChange','orderId','订单id',2, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderChange','auditId','审核人id',3, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderChange','state','状态(0:审核中 1:完成:审核通过 2:取消:审核不通过)',4, '1','1','1','0',now(), 'admin'),

            (replace(uuid(), '-', ''),'saleOrderChange','receiptTypeBefore','发票类型(变更前-1:不开票 2:普票发票 3:增值税发票)',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderChange','receiptTypeAfter','发票类型(变更后-1:不开票 2:普票发票 3:增值税发票)',6, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderChange','cuser','创建用户id',7, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderChange','cdate','创建时间',8, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderChange','uuser','修改用户id',9, '1','1','1','0',now(), 'admin'),

            (replace(uuid(), '-', ''),'saleOrderChange','udate','修改时间',10, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderChange','remark','备注',11, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderChange','isdisable','是否启用(0:已禁用 1:启用)',12, '1','1','1','0',now(), 'admin'),

            (replace(uuid(), '-', ''), 'saleOrderChange', 'beforeReceiptTypeName', '发票类型(前)', 13, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderChange', 'afterReceiptTypeName', '发票类型(后)', 14, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),

            (replace(uuid(), '-', ''), 'saleOrderChange', 'orderNumber', '订单编号', 15, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderChange', 'sysCode', '订单编号', 16, '1', '1', '1', '0', '2018-12-5 17:01:51', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderChange', 'makeName', '制单人', 17, '1', '1', '1', '0', '2018-12-5 17:01:51', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderChange', 'customerName', '客户名称', 18, '1', '1', '1', '0', '2018-12-5 17:01:51', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderChange', 'orderDate', '下单日期', 19, '1', '1', '1', '0', '2018-12-5 17:01:51', 'admin'),

            (replace(uuid(), '-', ''), 'saleOrderChange', 'changeStateName', '状态', 20, '1', '1', '1', '0', '2018-12-5 17:01:51', 'admin')

    </insert>

    <!-- 列表(全部) 自动创建，禁止修改-->
    <select id="dataList" parameterType="com.yvan.PageData" resultType="com.xy.vmes.entity.SaleOrderChange">
        select
            id id,
            company_id companyId,
            order_id orderId,
            audit_id auditId,
            state state,

            receipt_type_before receiptTypeBefore,
            receipt_type_after receiptTypeAfter,
            cuser cuser,
            cdate cdate,
            uuser uuser,

            udate udate,
            remark remark,
            isdisable isdisable
        from vmes_sale_order_change
        <where>
            <!--isSelfExist 是否考虑自己在业务表中是否存在
                false: (false or is null) 无需考虑自己在业务表中是否存在
                true : 需要考虑自己在业务表中是否存在
            -->
            <if test="id != null and id != ''" >
                <choose>
                    <when test="'true' == isSelfExist">
                        <![CDATA[ and id <> #{id} ]]>
                    </when>
                    <otherwise>
                        and id = #{id}
                    </otherwise>
                </choose>
            </if>

            <if test="companyId != null and companyId != ''" >
                and company_id = #{companyId}
            </if>
            <if test="orderId != null and orderId != ''" >
                and order_id = #{orderId}
            </if>
            <if test="state != null and state != ''" >
                and state = #{state}
            </if>

            <!--queryStr 自定义sql查询语句-->
            <if test="queryStr != null and queryStr != ''" >
                and ${queryStr}
            </if>
        </where>
        <if test="orderStr != null and orderStr != ''" >
            order by ${orderStr}
        </if>
    </select>


    <!-- 自动创建，可以修改 -->
    <select id="getDataListPage" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
        ordeChange.id id,
        ordeChange.company_id companyId,
        ordeChange.order_id orderId,
        ordeChange.audit_id auditId,
        ordeChange.state state,

        <!--状态(0:审核中 1:完成:审核通过 2:取消:审核不通过)-->
        CASE
            WHEN ordeChange.state = '0' THEN '审核中'
            WHEN ordeChange.state = '1' THEN '审核通过'
            WHEN ordeChange.state = '2' THEN '审核不通过'
        ELSE null
        END changeStateName,

        ordeChange.receipt_type_before receiptTypeBefore,
        CASE
            WHEN ordeChange.receipt_type_before = '1' THEN '不开票'
            WHEN ordeChange.receipt_type_before = '2' THEN '增值税普通发票'
            WHEN ordeChange.receipt_type_before = '3' THEN '增值税专用发票'
        ELSE null
        END beforeReceiptTypeName,

        ordeChange.receipt_type_after receiptTypeAfter,
        CASE
            WHEN ordeChange.receipt_type_after = '1' THEN '不开票'
            WHEN ordeChange.receipt_type_after = '2' THEN '增值税普通发票'
            WHEN ordeChange.receipt_type_after = '3' THEN '增值税专用发票'
        ELSE null
        END afterReceiptTypeName,
        ordeChange.cuser cuser,
        ordeChange.cdate cdate,
        ordeChange.uuser uuser,

        ordeChange.udate udate,
        ordeChange.remark remark,
        ordeChange.isdisable isdisable,

        saleOrder.order_number orderNumber,
        saleOrder.sys_code sysCode,
        DATE_FORMAT(saleOrder.order_date,'%Y-%m-%d') orderDate,
        makeUser.user_name makeName,
        customer.name customerName
        from vmes_sale_order_change ordeChange
        left join vmes_sale_order saleOrder on ordeChange.order_id = saleOrder.id
        left join vmes_customer customer on saleOrder.customer_id = customer.id
        left join vmes_user makeUser on saleOrder.make_id = makeUser.id
        <where>
            <if test="companyId != null and companyId != ''" >
                and ordeChange.company_id = #{companyId}
            </if>
            <if test="currentCompanyId != null and currentCompanyId != ''" >
                and ordeChange.company_id = #{currentCompanyId}
            </if>

            <if test="orderId != null and orderId != ''" >
                and ordeChange.order_id = #{orderId}
            </if>
            <if test="state != null and state != ''" >
                and ordeChange.state = #{state}
            </if>

            <if test="sysCode != null and sysCode != ''" >
                and saleOrder.sys_code = #{sysCode}
            </if>
            <if test="orderNumber != null and orderNumber != ''" >
                and saleOrder.order_number = #{orderNumber}
            </if>
            <if test="customerName != null and customerName != ''">
                and customer.name LIKE CONCAT(CONCAT(#{customerName}),'%')
            </if>

            <if test="orderDateBegin != null and orderDateBegin != ''">
                <![CDATA[ and saleOrder.order_date >= #{orderDateBegin} ]]>
            </if>
            <if test="orderDateEnd != null and orderDateEnd != ''">
                <![CDATA[ and saleOrder.order_date <= #{orderDateEnd} ]]>
            </if>

            <!--queryStr 自定义sql查询语句-->
            <if test="queryStr != null and queryStr != ''" >
                and ${queryStr}
            </if>

        </where>
        <if test="orderStr != null and orderStr != ''" >
            order by ${orderStr}
        </if>
    </select>


</mapper>