<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：订单详情 vmes_sale_order:订单表汇总 CollectMapper.xml
创建人：陈刚
创建时间：2019-02-13
 -->
<mapper namespace="com.xy.vmes.deecoop.sale.dao.SaleOrderCollectMapper">
    <select id="findListPageOrderCollectByInfo" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
            saleOrder.id id,
            saleOrder.id parentId,
            saleOrder.company_id companyId,
            saleOrder.order_number orderNumber,
            saleOrder.sys_code sysCode,
            saleOrder.receipt_type receiptType,
            CASE
                WHEN saleOrder.receipt_type = '1' THEN '不开票'
                WHEN saleOrder.receipt_type = '2' THEN '增值税普通发票'
                WHEN saleOrder.receipt_type = '3' THEN '增值税专用发票'
            ELSE null
            END receiptTypeName,

            saleOrder.price_type priceType,
            saleOrder.state state,
            CASE
                WHEN saleOrder.state = '0' THEN '待提交'
                WHEN saleOrder.state = '1' THEN '待审核'
                WHEN saleOrder.state = '2' THEN '待发货'
                WHEN saleOrder.state = '3' THEN '已发货'
                WHEN saleOrder.state = '4' THEN '已完成'
                WHEN saleOrder.state = '-1' THEN '已取消'
            ELSE null
            END stateName,
            saleOrder.make_id makeId,
            saleOrder.audit_id auditId,
            saleOrder.customer_id customerId,

            DATE_FORMAT(saleOrder.order_date,'%Y-%m-%d') orderDate,
            round(ifnull(saleOrder.total_sum, 0),2) totalSum,
            round(ifnull(saleOrder.discount_sum, 0),2) discountSum,
            round(ifnull(saleOrder.order_sum, 0),2) orderSum,
            round(ifnull(saleOrder.advance_sum, 0),2) advanceSum,

            round(ifnull(saleOrder.deliver_sum, 0),2) deliverSum,
            <!--round(ifnull(saleOrder.receivables, 0),2) receivables,-->
            saleOrder.cuser cuser,
            DATE_FORMAT(saleOrder.cdate,'%Y-%m-%d %T') cdate,
            saleOrder.uuser uuser,

            DATE_FORMAT(saleOrder.udate,'%Y-%m-%d %T') udate,
            saleOrder.remark remark,
            saleOrder.isdisable isdisable,
            DATE_FORMAT(saleOrder.expect_date,'%Y-%m-%d') expectDate,
            DATE_FORMAT(saleOrder.deliver_date,'%Y-%m-%d') deliverDate,

            DATE_FORMAT(saleOrder.pay_date,'%Y-%m-%d') payDate,
            saleOrder.pay_state payState,

            <!--制单人 审核人 客户名称-->
            makeUser.user_name makeName,
            auditUser.user_name auditName,
            customer.name customerName,

            DATE_FORMAT(viewSaleOrder.max_receive_date,'%Y-%m-%d') maxReceiveDate,
            <!--账期剩余天数-->
            viewSaleOrder.receive_DaysRemaining receiveDaysRemaining,
            <!--(计算)逾期天数: (发货日期 + 记账天数) - 当前日期-->
            <!--isPositiveNumber Y: 逾期天数 >= 0 N: 逾期天数 < 0-->
            viewSaleOrder.isPositiveNumber,

            <!--已收款-->
            round(ifnull(receive.receive_sum, 0), 2) receiveSum,
            round(ifnull(receive.discount_sum, 0), 2) receiveDiscountSum,
            round(ifnull(receive.amount, 0), 2) receiveAmountSum,
            <!--应收款 := (订单金额-已收款) -->
            round((ifnull(saleOrder.order_sum, 0) - ifnull(receive.amount, 0)), 2) receivables,

            <!-- 开票金额 -->
            round(invoice.invoice_sum, 2) invoiceSum

        from vmes_sale_order saleOrder
            left join vmes_user makeUser on saleOrder.make_id = makeUser.id
            left join vmes_user auditUser on saleOrder.audit_id = auditUser.id
            left join vmes_customer customer on saleOrder.customer_id = customer.id

            left join view_sale_order_customer_max_receive_date viewSaleOrder on saleOrder.id = viewSaleOrder.order_id
            <!--收款明细汇总-->
            left join view_sale_receive_detail receive on saleOrder.id = receive.order_id

            <!--开票明细汇总-->
            left join (
                select
                    b.parent_id order_id,sum(a.sum) invoice_sum
                from vmes_sale_invoice_detail a
                left join vmes_sale_order_detail b on a.order_detail_id = b.id
                where a.state = '1'
                group by b.parent_id
            ) invoice on saleOrder.id = invoice.order_id

        <where>
            <if test="id != null and id != ''" >
                and saleOrder.id = #{id}
            </if>
            <if test="currentCompanyId != null and currentCompanyId != ''" >
                and saleOrder.company_id = #{currentCompanyId}
            </if>
        </where>
        <if test="orderStr != null and orderStr != ''" >
            order by ${orderStr}
        </if>
    </select>


    <select id="getSaleOrderCollect" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
        saleOrder.id id,
        saleOrder.company_id companyId,
        saleOrder.sys_code sysCode,
        saleOrder.receipt_type receiptType,
        CASE
        WHEN saleOrder.receipt_type = '1' THEN '不开票'
        WHEN saleOrder.receipt_type = '2' THEN '增值税普通发票'
        WHEN saleOrder.receipt_type = '3' THEN '增值税专用发票'
        ELSE null
        END receiptTypeName,
        saleOrder.price_type priceType,
        CASE
        WHEN saleOrder.price_type = '1' THEN '先计价'
        WHEN saleOrder.price_type = '2' THEN '后计价'
        ELSE null
        END priceTypeName,

        saleOrder.state state,
        CASE
        WHEN saleOrder.state = '0' THEN '待提交'
        WHEN saleOrder.state = '1' THEN '待审核'
        WHEN saleOrder.state = '2' THEN '待发货'
        WHEN saleOrder.state = '3' THEN '已发货'
        WHEN saleOrder.state = '4' THEN '已完成'
        WHEN saleOrder.state = '-1' THEN '已取消'
        ELSE null
        END stateName,
        saleOrder.make_id makeId,
        saleOrder.audit_id auditId,
        saleOrder.customer_id customerId,
        saleOrder.remark remark,
        round(ifnull(saleOrder.advance_sum, 0),2) advanceAmount,
        round(ifnull(saleOrder.order_sum, 0),2) orderAmount,
        DATE_FORMAT(saleOrder.order_date,'%Y-%m-%d') orderDate,
        DATE_FORMAT(saleOrder.expect_date,'%Y-%m-%d') expectDate,
        DATE_FORMAT(saleOrder.deliver_date,'%Y-%m-%d') deliverDate,
        DATE_FORMAT(saleOrder.pay_date,'%Y-%m-%d') payDate,
        DATE_FORMAT(saleOrder.current_deliver_date,'%Y-%m-%d') currentDeliverDate,
        DATE_FORMAT(date_add(saleOrder.current_deliver_date, interval customer.account_days day),'%Y-%m-%d') deadlineDate,
        DATEDIFF(DATE_FORMAT(date_add(saleOrder.current_deliver_date, interval customer.account_days day),'%Y-%m-%d'),DATE_FORMAT(now(),'%Y-%m-%d'))  daysRemaining,
        makeUser.user_name makeName,
        auditUser.user_name auditName,
        customer.name customerName,
        customer.account_days accountDays,
        round(ifnull(tab.deliverAmount, 0),2) deliverAmount,
        round(ifnull(tab.receivedAmount, 0),2) receivedAmount,
        round(ifnull(tab.discountedAmount, 0),2) discountedAmount,
        round(ifnull(tab.invoiceAmount, 0),2) invoiceAmount,
        round(ifnull(tab.retreatAmount, 0),2) retreatAmount,
        round(ifnull(tab.nowReceiveAmount, 0),2) nowReceiveAmount,
        round(ifnull(tab.preReceiveAmount, 0),2) preReceiveAmount
        from vmes_sale_order saleOrder
        left join (
        select id,
        round(sum(ifnull(deliverAmount,0)),2) deliverAmount,round(sum(ifnull(receiveAmount,0)),2) receivedAmount,round(sum(ifnull(discountAmount,0)),2) discountedAmount,round(sum(ifnull(invoiceAmount,0)),2) invoiceAmount,round(sum(ifnull(retreatAmount,0)),2) retreatAmount,
        case when sum(ifnull(deliverAmount,0))-sum(ifnull(retreatAmount,0)) <![CDATA[ > ]]> (sum(ifnull(receiveAmount,0))+sum(ifnull(discountAmount,0))) then round(sum(ifnull(deliverAmount,0)) - sum(ifnull(retreatAmount,0)) - sum(ifnull(receiveAmount,0)) - sum(ifnull(discountAmount,0)),2) else 0.00 end nowReceiveAmount,
        case when sum(ifnull(deliverAmount,0))-sum(ifnull(retreatAmount,0)) <![CDATA[ < ]]> (sum(ifnull(receiveAmount,0))+sum(ifnull(discountAmount,0))) then round(sum(ifnull(receiveAmount,0)) + sum(ifnull(discountAmount,0)) - sum(ifnull(deliverAmount,0)) + sum(ifnull(retreatAmount,0)),2) else 0.00 end preReceiveAmount
        from
        (
        select sOrder.id id,
        deliverDetail.sum deliverAmount,null receiveAmount,null discountAmount,null invoiceAmount,null retreatAmount
        from vmes_sale_order sOrder
        left join vmes_sale_deliver_detail deliverDetail on deliverDetail.order_id = sOrder.id
        <where>
            <if test="id != null and id != ''" >
                and sOrder.id = #{id}
            </if>
            and deliverDetail.state = '1'
        </where>

        union all

        select sOrder.id id,
        null deliverAmount,receiveDetail.receive_amount receiveAmount,receiveDetail.discount_amount discountAmount,null invoiceAmount,null retreatAmount
        from vmes_sale_order sOrder
        left join vmes_sale_receive_detail receiveDetail on receiveDetail.order_id = sOrder.id
        <where>
            <if test="id != null and id != ''" >
                and sOrder.id = #{id}
            </if>
            and receiveDetail.state = '1'
        </where>

        union all

        select sOrder.id id,
        null deliverAmount,null receiveAmount,null discountAmount,null invoiceAmount,ifnull(retreatDetail.order_count,0)*ifnull(orderDtail.product_price,0) retreatAmount
        from vmes_sale_order sOrder
        left join vmes_sale_order_detail orderDtail on sOrder.id = orderDtail.parent_id
        left join vmes_sale_retreat_detail retreatDetail on orderDtail.id = retreatDetail.order_detail_id
        left join vmes_sale_retreat retreat on retreat.id = retreatDetail.parent_id
        <where>
            <if test="id != null and id != ''" >
                and sOrder.id = #{id}
            </if>
            and retreat.type = 'f69839bbf2394846a65894f0da120df9' <!-- 退货退款 -->
            and retreatDetail.state = '3'
        </where>


        union all

        select sOrder.id id,
        null deliverAmount,null receiveAmount,null discountAmount,invoiceDetail.sum invoiceAmount,null retreatAmount
        from vmes_sale_order sOrder
        left join vmes_sale_order_detail orderDetail on orderDetail.parent_id = sOrder.id
        left join vmes_sale_invoice_detail invoiceDetail on invoiceDetail.order_detail_id = orderDetail.id
        <where>
            <if test="id != null and id != ''" >
                and sOrder.id = #{id}
            </if>
            and invoiceDetail.state = '1'
        </where>
        ) t
        group by t.id
        )tab on saleOrder.id = tab.id
        left join vmes_customer customer on customer.id = saleOrder.customer_id
        left join vmes_user makeUser on saleOrder.make_id = makeUser.id
        left join vmes_user auditUser on saleOrder.audit_id = auditUser.id

        <where>
            <if test="id != null and id != ''" >
                and saleOrder.id = #{id}
            </if>
            <if test="currentCompanyId != null and currentCompanyId != ''" >
                and saleOrder.company_id = #{currentCompanyId}
            </if>
        </where>
        <if test="orderStr != null and orderStr != ''" >
            order by ${orderStr}
        </if>
    </select>



    <insert id="insertColumn" >
        delete from vmes_column where model_code = 'saleOrderCollectByInfo' ;
        insert into vmes_column (
        id,model_code,title_key,title_name,serial_number,
        isdisable,ishide,isedit,ismust,cdate,
        cuser
        ) VALUES
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'parentId', '订单id', 0, '1', '0', '1', '0', '2018-12-5 17:35:26', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'id', 'id', 0, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'companyId', '企业ID', 1, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'sysCode', '订单编号', 2, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'orderNumber', '订单编号', 3, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'receiptTypeName', '发票类型', 4, '1', '0', '1', '0', '2018-12-6 10:53:24', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'receiptType', '发票类型id', 4, '1', '0', '1', '0', '2018-12-6 10:53:24', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'priceType', '计价类型(1:先计价 2:后计价)', 5, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'stateName', '订单状态', 6, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'state', '订单状态id', 6, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'makeId', '制单人id', 7, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'makeName', '制单人', 7, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'auditId', '审核人id', 8, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'auditName', '审核人', 8, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'customerId', '客户id', 9, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'customerName', '客户名称', 9, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'orderDate', '下单日期', 10, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'totalSum', '合计金额', 11, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'receiveDiscountSum', '折扣金额', 12, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'orderSum', '订单金额(合计金额 - 折扣金额)', 13, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'advanceSum', '预付款', 14, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'deliverSum', '发货金额', 15, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'cuser', '创建用户id', 16, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'cdate', '创建时间', 17, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'uuser', '修改用户id', 18, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'udate', '修改时间', 19, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'remark', '备注', 20, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'isdisable', '是否启用(0:已禁用 1:启用)', 21, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'expectDate', '约定交期', 22, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'deliverDate', '发货日期', 23, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'receivables', '应收款', 24, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'maxReceiveDate', '账期截止日', 25, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'receiveDaysRemaining', '账期剩余(天)', 26, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'receiveSum', '已收款', 27, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'isPositiveNumber', '是否正数[(发货日期 + 记账天数) - 当前日期]', 28, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'payDate', '付款日期', 29, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderCollectByInfo', 'invoiceSum', '开票金额', 30, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin')




        delete from vmes_column where model_code = 'saleOrderCollect' ;
        insert into vmes_column (
        id,model_code,title_key,title_name,serial_number,
        isdisable,ishide,isedit,ismust,cdate,
        cuser
        ) VALUES
            (replace(uuid(), '-', ''),'saleOrderCollect','sysCode','订单号',1, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','receiptTypeName','发票类型',3, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','stateName','订单状态',4, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','state','订单状态',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','deadlineDate','账期截止日',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','currentDeliverDate','最近一次的发货日期',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','orderDate','下单日期',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','payDate','付款完成日期',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','deliverDate','发货完成日期',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','expectDate','约定交期',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','remark','备注',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','customerId','客户ID',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','auditId','审核人ID',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','makeId','制单人ID',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','makeName','制单人',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','auditName','审核人',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','customerName','客户名称',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','accountDays','账期（天）',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','orderAmount','订单金额',1, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','deliverAmount','发货金额',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','receivedAmount','实收金额',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','discountedAmount','折扣金额',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','invoiceAmount','开票金额',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','nowReceiveAmount','应收金额',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','preReceiveAmount','预收金额',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','priceType','计价类型',6, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','receiptType','发票类型',7, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','companyId','公司ID',8, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','daysRemaining','账期剩余(天)',8, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','advanceAmount','预付款',8, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','retreatAmount','退货金额',9, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'saleOrderCollect','id','id',0, '1','1','1','0',now(), 'admin')
    </insert>

</mapper>