<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：vmes_sale_retreat_detail:退货明细 Mapper.xml
创建人：陈刚 自动创建
创建时间：2019-02-25
 -->
<mapper namespace="com.xy.vmes.deecoop.sale.dao.SaleRetreatDetailByEditMapper">

    <insert id="insertColumn" >
        delete from vmes_column where model_code = 'saleRetreatDetailByEdit' ;
        insert into vmes_column (
        id,model_code,title_key,title_name,serial_number,
        isdisable,ishide,isedit,ismust,cdate,
        cuser
        ) VALUES
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'id', 'id', 0, '1', '0', '1', '0', '2019-2-28 14:45:58', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'parentId', '退货单id', 1, '1', '0', '1', '0', '2019-2-28 14:45:58', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'deliverDetailId', '发货明细id', 2, '1', '0', '1', '0', '2019-2-28 14:45:58', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'orderDetailId', '订单明细id', 3, '1', '0', '1', '0', '2019-2-28 14:45:58', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'productId', '货品id', 4, '1', '0', '1', '0', '2019-2-28 14:45:58', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'orderSum', '退货金额', 5, '1', '0', '1', '0', '2019-2-28 14:45:58', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'orderUnitName', '单位', 6, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'orderUnit', '单位id', 6, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'orderCount', '退货数量', 7, '1', '0', '1', '0', '2019-2-28 14:45:58', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'productUnit', '计量单位id', 8, '1', '0', '1', '0', '2019-2-28 14:45:58', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'productCount', '退货数量(计量数量)', 9, '1', '0', '1', '0', '2019-2-28 14:45:58', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'state', '状态id', 10, '1', '0', '1', '0', '2019-2-28 14:45:58', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'stateName', '状态', 10, '1', '0', '1', '0', '2019-2-28 14:45:58', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'cuser', '创建用户id', 11, '1', '0', '1', '0', '2019-2-28 14:45:58', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'cdate', '创建时间', 12, '1', '0', '1', '0', '2019-2-28 14:45:58', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'uuser', '修改用户id', 13, '1', '0', '1', '0', '2019-2-28 14:45:58', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'udate', '修改时间', 14, '1', '0', '1', '0', '2019-2-28 14:45:58', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'remark', '退货原因', 15, '1', '0', '1', '0', '2019-2-28 14:45:58', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'isdisable', '是否启用(0:已禁用 1:启用)', 16, '1', '0', '1', '0', '2019-2-28 14:45:58', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'productCode', '货品编码', 17, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'productName', '货品名称', 18, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'productSpec', '规格型号', 19, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'productGenre', '货品属性id', 20, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'productGenreName', '货品属性', 21, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'productPrice', '单价', 22, '1', '0', '1', '0', '2018-12-16 11:15:19', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'sysOrderCode', '订单编号', 23, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'deliverCode', '发货单编号', 24, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'receiveAmount', '实收金额', 25, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'n2pFormula', 'n2pFormula', 26, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'p2nFormula', 'p2nFormula', 26, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'deliverOrderCount', '发货数量', 27, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'endRetreatCount', '退货数量(已生成退货单)', 28, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'notRetreatCount', '可退货数量', 29, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'endRetreatSum', '退货金额(已生成退货单)', 30, '1', '0', '1', '0', '2018-12-16 11:15:19', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'notRetreatSum', '可退金额', 31, '1', '0', '1', '0', '2018-12-16 11:15:19', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'orderId', '订单id', 32, '1', '0', '1', '0', '2018-12-16 11:15:19', 'admin'),

        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'retreatDtlSum', 'retreatDtlSum', 5, '1', '0', '1', '0', '2019-2-28 14:45:58', 'admin'),
        (replace(uuid(), '-', ''), 'saleRetreatDetailByEdit', 'orderTotalSum', 'orderTotalSum', 33, '1', '0', '1', '0', '2018-12-16 11:15:19', 'admin'),

    </insert>

    <select id="findRetreatDetailByEdit" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
            detail.id id,
            detail.parent_id parentId,
            detail.deliver_detail_id deliverDetailId,
            detail.order_detail_id orderDetailId,

            detail.product_id productId,
            round(ifnull(detail.order_sum, 0),2) orderSum,
            detail.order_unit orderUnit,
            orderUnit.name orderUnitName,
            round(ifnull(detail.order_count, 0),2) orderCount,
            detail.product_unit productUnit,

            detail.product_count productCount,
            detail.state state,
            CASE
            WHEN detail.state = '0' THEN '待提交'
            WHEN detail.state = '1' THEN '待审核'
            WHEN detail.state = '2' THEN '待退款'
            WHEN detail.state = '3' THEN '已完成'
            WHEN detail.state = '-1' THEN '已取消'
            ELSE null
            END stateName,
            detail.cuser cuser,
            detail.cdate cdate,
            detail.uuser uuser,

            detail.udate udate,
            detail.remark remark,
            detail.isdisable isdisable,
            round(ifnull(detail.order_sum, 0),2) retreatDtlSum,

            <!--货品计量单位-->
            prodUnitPrice.np_formula n2pFormula,
            prodUnitPrice.pn_formula p2nFormula,
            round(ifnull(deliverDetail.product_price, 0), 2) productPrice,

            <!--货品表-->
            product.code productCode,
            product.name productName,
            product.spec productSpec,
            product.genre productGenre,
            genre.name productGenreName,

            <!--订单表信息-->
            saleOrder.id orderId,
            saleOrder.sys_code sysOrderCode,
            saleOrder.order_sum orderTotalSum,
            round(ifnull(receive.receive_amount, 0), 2) receiveAmount,

            deliver.deliver_code deliverCode,
            round(ifnull(deliverDetail.order_count, 0), 2) deliverOrderCount

        from vmes_sale_retreat_detail detail
            left join vmes_sale_order_detail orderDetail on detail.order_detail_id = orderDetail.id
            left join vmes_sale_order saleOrder on orderDetail.parent_id = saleOrder.id

            left join vmes_sale_deliver_detail deliverDetail on detail.deliver_detail_id = deliverDetail.id
            left join vmes_sale_deliver deliver on deliverDetail.parent_id = deliver.id

            left join vmes_dictionary orderUnit on detail.order_unit = orderUnit.id
            left join vmes_product product on detail.product_id = product.id
            left join vmes_dictionary genre on product.genre = genre.id
            left join vmes_product_unit prodUnitPrice on (detail.product_id = prodUnitPrice.product_id and detail.order_unit = prodUnitPrice.unit and prodUnitPrice.isdisable = '1')

            <!--收款明细汇总-->
            left join (
                select order_id, sum(receive_amount) receive_amount, sum(discount_amount) discount_amount
                from vmes_sale_receive_detail
                where state = '1'
                group by order_id
            ) receive on orderDetail.parent_id = receive.order_id

        <where>
            <if test="parentId != null and parentId != ''" >
                and detail.parent_id = #{parentId}
            </if>


            <!--queryStr 自定义sql查询语句-->
            <if test="queryStr != null and queryStr != ''" >
                and ${queryStr}
            </if>

        </where>
        <if test="orderStr != null and orderStr != ''" >
            order by ${orderStr}
        </if>
    </select>

</mapper>