<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：销售订单查询 Mapper.xml
采购-采购计划管理-(勾选订单明细)-弹出界面查询
创建人：陈刚
创建时间：2020-01-20
 -->
<mapper namespace="com.xy.vmes.deecoop.sale.dao.SaleOrderByPurchasePlanMapper">
    <insert id="saleOrderByPurchasePlan">
        delete from vmes_column where model_code = 'saleOrderByPurchasePlan';
        insert into vmes_column (
        id,model_code,title_key,title_name,serial_number,
        isdisable,ishide,isedit,ismust,cdate,
        cuser
        ) VALUES
            (replace(uuid(), '-', ''), 'saleOrderByPurchasePlan', 'id', 'id', 0, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderByPurchasePlan', 'companyId', '企业ID', 1, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderByPurchasePlan', 'orderNumber', '订单编号', 2, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderByPurchasePlan', 'sysCode', '订单编号', 3, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderByPurchasePlan', 'receiptType', '发票类型id', 4, '1', '0', '1', '0', '2018-12-6 10:53:24', 'admin'),

            (replace(uuid(), '-', ''), 'saleOrderByPurchasePlan', 'priceType', '计价类型(1:先计价 2:后计价)', 5, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderByPurchasePlan', 'state', '订单状态id', 6, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderByPurchasePlan', 'makeId', '制单人id', 7, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderByPurchasePlan', 'auditId', '审核人id', 8, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderByPurchasePlan', 'customerId', '客户id', 9, '1', '0', '1', '0', now(), 'admin'),

            (replace(uuid(), '-', ''), 'saleOrderByPurchasePlan', 'orderDate', '下单日期', 10, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderByPurchasePlan', 'totalSum', '合计金额', 11, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderByPurchasePlan', 'orderSum', '订单金额(合计金额 - 折扣金额)', 12, '1', '0', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderByPurchasePlan', 'expectDate', '约定交期', 13, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderByPurchasePlan', 'remark', '备注', 14, '1', '1', '1', '0', now(), 'admin'),

            (replace(uuid(), '-', ''), 'saleOrderByPurchasePlan', 'stateName', '订单状态', 15, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderByPurchasePlan', 'makeName', '制单人', 16, '1', '1', '1', '0', now(), 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderByPurchasePlan', 'customerName', '客户名称', 17, '1', '1', '1', '0', now(), 'admin')
    </insert>

    <select id="listOrderByPurchasePlan" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
            saleOrder.id id,
            saleOrder.company_id companyId,
            saleOrder.order_number orderNumber,
            saleOrder.sys_code sysCode,
            saleOrder.receipt_type receiptType,

            saleOrder.price_type priceType,
            saleOrder.state state,
            saleOrder.make_id makeId,
            saleOrder.audit_id auditId,
            saleOrder.customer_id customerId,

            DATE_FORMAT(saleOrder.order_date,'%Y-%m-%d') orderDate,
            round(ifnull(saleOrder.total_sum, 0),2) totalSum,
            round(ifnull(saleOrder.order_sum, 0),2) orderSum,
            DATE_FORMAT(saleOrder.expect_date,'%Y-%m-%d') expectDate,
            saleOrder.remark remark,

            CASE
                WHEN saleOrder.state = '0' THEN '待提交'
                WHEN saleOrder.state = '1' THEN '待审核'
                WHEN saleOrder.state = '2' THEN '待发货'
                WHEN saleOrder.state = '3' THEN '已发货'
                WHEN saleOrder.state = '4' THEN '已完成'
                WHEN saleOrder.state = '-1' THEN '已取消'
            ELSE null
            END stateName,
            makeUser.user_name makeName,
            customer.name customerName

        from vmes_sale_order saleOrder
            left join vmes_customer customer on saleOrder.customer_id = customer.id
            left join vmes_user makeUser on saleOrder.make_id = makeUser.id
        <where>
            <if test="currentCompanyId != null and currentCompanyId != ''" >
                and saleOrder.company_id = #{currentCompanyId}
            </if>
            <!--根据(是否需要采购)查询条件 vmes_sale_order_detail.is_need_purchase 是否需要采购(0:不需要 1:需要)-->
            <if test="'true' == isNeedPurchase" >
                and saleOrder.id in (
                    select parent_id from vmes_sale_order_detail
                    where is_need_purchase = '1'
                )
            </if>
            <if test="'false' == isNeedPurchase" >
                and saleOrder.id in (
                    select parent_id from vmes_sale_order_detail
                    where is_need_purchase = '0' or (is_need_purchase is null or CHAR_LENGTH(TRIM(is_need_purchase)) = 0)
                )
            </if>
        </where>
        <if test="orderStr != null and orderStr != ''" >
            order by ${orderStr}
        </if>
    </select>


</mapper>