<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：发货明细汇总- Mapper.xml
创建人：陈刚 自动创建
创建时间：2019-01-11
 -->
<mapper namespace="com.xy.vmes.deecoop.sale.dao.SaleDeliverDetailByCollectMapper">
    <!--发货明细(按订单明细id)汇总-->
    <select id="findDeliverDetailByOrderDetai" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
            orderDetail.id orderDtlId,
            orderDetail.parent_id orderId,

            round(ifnull(orderDetail.order_count, 0), 2) orderDtlCount,
            round(ifnull(orderDetail.product_sum, 0), 2) orderDtlSum,

            round(ifnull(deliverOrderDtl.orderCount, 0), 2) orderDtlDeliverCount,
            round(ifnull(deliverOrderDtl.orderSum, 0), 2) orderDtlDeliverSum,

            round(ifnull(retreatOrderDtl.orderCount, 0), 2) orderDtlRetreatCount,
            round(ifnull(retreatOrderDtl.orderSum, 0), 2) orderDtlRetreatSum,

            round((ifnull(deliverOrderDtl.orderCount, 0) - ifnull(retreatOrderDtl.orderCount, 0)), 2) checkCount,
            round((ifnull(deliverOrderDtl.orderSum, 0) - ifnull(retreatOrderDtl.orderSum, 0)), 2) checkSum

        from vmes_sale_order_detail orderDetail
            left join (
                <!--(订单明细id)发货明细汇总-->
                select
                    order_detai_id orderDtlId,
                    sum(order_count) orderCount,
                    sum(sum) orderSum
                from vmes_sale_deliver_detail
                where state = '1'
                group by order_detai_id
            ) deliverOrderDtl on orderDetail.id = deliverOrderDtl.orderDtlId
            left join (
                <!--(订单明细id)退货明细汇总-->
                select
                    order_detail_id,
                    sum(order_count) orderCount,
                    sum(order_sum) orderSum
                from vmes_sale_retreat_detail
                where state <![CDATA[<> '-1']]>
                group by order_detail_id
            ) retreatOrderDtl on orderDetail.id = retreatOrderDtl.order_detail_id
        <where>
            <if test="orderId != null and orderId != ''" >
                and orderDetail.parent_id = #{orderId}
            </if>
            <if test="orderIds != null and orderIds != ''" >
                and orderDetail.parent_id in (${orderIds})
            </if>
        </where>
    </select>

    <!--发货明细(按订单明细id)汇总(已发货数量)-->
    <!--用于:发货已完成后,变更(订单,订单明细)状态-->
    <select id="findDeliverDetailByOrderDetaiCount" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
            deliverDtl.order_detai_id orderDetailId,

            round(ifnull(orderDtl.order_count, 0), 2) orderCount,
            round(ifnull(orderDtl.need_deliver_count, 0), 2) needDeliverCount,

            round(ifnull(deliverOrderDtl.orderCount, 0), 2) orderDtlDeliverCount,
            round(ifnull(deliverOrderDtl.orderSum, 0), 2) orderDtlDeliverSum,

            round(ifnull(retreatOrderDtl.orderCount, 0), 2) orderDtlRetreatCount,
            round(ifnull(retreatOrderDtl.orderSum, 0), 2) orderDtlRetreatSum,

            <!--checkCount:=(发货数量-退货数量)-->
            round((ifnull(deliverOrderDtl.orderCount, 0) - ifnull(retreatOrderDtl.orderCount, 0)), 2) checkCount,
            <!--checkSum:=(发货金额-退货金额)-->
            round((ifnull(deliverOrderDtl.orderSum, 0) - ifnull(retreatOrderDtl.orderSum, 0)), 2) checkSum
        from (
            select order_detai_id
            from vmes_sale_deliver_detail
            <where>
                <if test="deliverId != null and deliverId != ''" >
                    and parent_id = #{deliverId}
                </if>
            </where>
            group by order_detai_id
        ) deliverDtl
            left join (
                <!--(订单明细id)发货明细汇总-->
                select
                    order_detai_id,
                    sum(order_count) orderCount,
                    sum(sum) orderSum
                from vmes_sale_deliver_detail
                <where>
                    <if test="orderDtlId != null and orderDtlId != ''" >
                        and order_detai_id = #{orderDtlId}
                    </if>
                    <if test="orderDtlIds != null and orderDtlIds != ''" >
                        and order_detai_id in (${orderDtlIds})
                    </if>
                    <if test="deliveDtlState != null and deliveDtlState != ''" >
                        and state = #{deliveDtlState}
                    </if>
                </where>
                group by order_detai_id
            ) deliverOrderDtl on deliverDtl.order_detai_id = deliverOrderDtl.order_detai_id
            left join (
                <!--(订单明细id)退货明细汇总-->
                select
                    order_detail_id,
                    sum(order_count) orderCount,
                    sum(order_sum) orderSum
                from vmes_sale_retreat_detail
                <where>
                    <if test="orderDtlId != null and orderDtlId != ''" >
                        and order_detail_id = #{orderDtlId}
                    </if>
                    <if test="orderDtlIds != null and orderDtlIds != ''" >
                        and order_detail_id in (${orderDtlIds})
                    </if>
                    <if test="retreatDtlState != null and retreatDtlState != ''" >
                        and state = #{retreatDtlState}
                    </if>
                </where>
                group by order_detail_id
            ) retreatOrderDtl on deliverDtl.order_detai_id = retreatOrderDtl.order_detail_id

            left join vmes_sale_order_detail orderDtl on deliverDtl.order_detai_id = orderDtl.id
    </select>

    <!--发货出库单-->
    <!--查询发货明细表-获取(订单,订单明细)对应的出库明细状态-->
    <!--用于:出库完成后,变更(订单,订单明细)状态-->
    <select id="findDeliverDetailOnWarehouseOutDetailByOrder" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
            deliverDtl.orderDetailId,
            round(ifnull(orderDtl.product_count, 0), 2) productCount,
            round(ifnull(deliverOutDtl.deliverOutCount, 0), 2) deliverOutCount
        from (
            select order_detai_id orderDetailId
            from vmes_sale_deliver_detail
            where out_detail_id is not null
            group by order_detai_id
        ) deliverDtl
            left join vmes_sale_order_detail orderDtl on deliverDtl.orderDetailId = orderDtl.id
            left join (
                select
                  deliverDetail.order_detai_id orderDetaiId,
                  sum(outDetail.count) deliverOutCount
                from vmes_sale_deliver_detail deliverDetail
                  left join vmes_warehouse_out_detail outDetail on deliverDetail.out_detail_id = outDetail.id
                where outDetail.state = '2'
                group by deliverDetail.order_detai_id
            ) deliverOutDtl on deliverDtl.orderDetailId = deliverOutDtl.orderDetaiId

        <where>
            <if test="orderDetailId != null and orderDetailId != ''" >
                and deliverDtl.orderDetailId = #{orderDetailId}
            </if>
        </where>
    </select>


</mapper>