<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：订单明细查询汇总 Mapper.xml
销售-开票管理-申请开票-(勾选订单明细)-弹出界面查询
创建人：陈刚 自动创建
创建时间：2019-01-11
 -->
<mapper namespace="com.xy.vmes.deecoop.sale.dao.SaleOrderDetailByInvoiceMapper">
    <!--view_sale_order_detail_by_invoice 订单查询视图-->
    <!--price_type:计价类型(1:先计价 2:后计价)-->
    <!--1:先计价 订单可以随时开票-->
    <!--2:后计价 订单明细状态(5:已发货)-->
    <select id="findListPageOrderDetailByInvoice" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
            orderDetail.price_type priceType,

            orderDetail.id id,
            orderDetail.parent_id parentId,
            orderDetail.state state,
            CASE
                WHEN orderDetail.state = '0' THEN '待提交'
                WHEN orderDetail.state = '1' THEN '待审核'
                WHEN orderDetail.state = '2' THEN '待生产'
                WHEN orderDetail.state = '3' THEN '待出库'
                WHEN orderDetail.state = '4' THEN '待发货'
                WHEN orderDetail.state = '5' THEN '已完成'
                WHEN orderDetail.state = '-1' THEN '已取消'
            ELSE null
            END stateName,
            orderDetail.file_url fileUrl,
            DATE_FORMAT(orderDetail.deliver_date,'%Y-%m-%d') deliverDate,

            round(ifnull(orderDetail.count, 0),2) orderCount,
            orderDetail.product_id productId,
            round(ifnull(orderDetail.product_price, 0),2) productPrice,
            round(ifnull(orderDetail.product_sum, 0),2) productSum,
            orderDetail.price_unit priceUnit,

            <!--货品表-->
            product.code productCode,
            product.name productName,
            product.spec productSpec,
            product.genre productGenre,

            priceUnit.name priceUnitName,
            genre.name productGenreName,

            <!--发货完成数量-->
            round(ifnull(deliver.deliver_count, 0),2) deliverCount,
            <!--开票数量(已生成)-->
            round(ifnull(invoice.invoice_count, 0),2) invoiceCount,

            round((ifnull(orderDetail.count, 0) - ifnull(invoice.invoice_count, 0)), 2) notInvoiceCount,
            round((ifnull(orderDetail.count, 0) - ifnull(invoice.invoice_count, 0)), 2) count,
            round((ifnull(orderDetail.count, 0) - ifnull(invoice.invoice_count, 0)) * ifnull(orderDetail.product_price, 0), 2) nowInvoiceSum

        from view_sale_order_detail_by_invoice orderDetail
            left join vmes_product product on orderDetail.product_id = product.id
            left join vmes_dictionary priceUnit on orderDetail.price_unit = priceUnit.id
            left join vmes_dictionary genre on product.genre = genre.id

            <!--发货明细表汇总(1:已发货) vmes_sale_deliver_detail-->
            left join (
                select order_detai_id,product_id,price_unit, sum(order_count) deliver_count
                from vmes_sale_deliver_detail
                where state = '1'
                group by order_detai_id,product_id,price_unit
            ) deliver on (orderDetail.id = deliver.order_detai_id)
                      and (orderDetail.product_id = deliver.product_id)
                      and (orderDetail.price_unit = deliver.price_unit)

            <!--开票明细表汇总(0:待开票 1:已开票) vmes_sale_invoice_detail-->
            left join (
                select order_detail_id,product_id,price_unit, sum(count) invoice_count
                from vmes_sale_invoice_detail
                where state in ('0','1')
                group by order_detail_id,product_id,price_unit
            ) invoice on (orderDetail.id = invoice.order_detail_id)
                        and (orderDetail.product_id = invoice.product_id)
                        and (orderDetail.price_unit = invoice.price_unit)
        <where>
            <if test="parentId != null and parentId != ''" >
                and orderDetail.parent_id = #{parentId}
            </if>

            <!--queryStr 自定义sql查询语句-->
            <if test="queryStr != null and queryStr != ''" >
                and ${queryStr}
            </if>
        </where>
        <if test="orderStr != null and orderStr != ''" >
            order by ${orderStr}
        </if>

    </select>

    <insert id="insertColumn" >
        delete from vmes_column where model_code = 'saleOrderDetailByInvoice' ;
        insert into vmes_column (
        id,model_code,title_key,title_name,serial_number,
        isdisable,ishide,isedit,ismust,cdate,
        cuser
        ) VALUES
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'parentId', '订单id', 0, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'id', 'id', 0, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'productId', '货品id', 1, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'productCode', '货品编码', 2, '1', '1', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'productName', '货品名称', 3, '1', '1', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'productSpec', '规格型号', 4, '1', '1', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'productGenreName', '货品属性', 5, '1', '1', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'productGenre', '货品属性id', 5, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'productUnit', '计量单位id', 6, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'productUnitName', '计量单位', 6, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'productType', '货品类型id', 7, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'priceUnit', '计价单位id', 8, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'priceUnitName', '单位', 8, '1', '1', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'orderCount', '订购数量', 9, '1', '1', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'productPrice', '单价', 10, '1', '1', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'productSum', '订购金额', 11, '1', '1', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'deliverCount', '已发货数量', 12, '1', '1', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'invoiceCount', '开票数量(已生成)', 13, '1', '1', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'nowInvoiceCount', '开票数量', 14, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'nowInvoiceSum', '开票金额', 15, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'deliverDate', '约定交期', 18, '1', '1', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'fileUrl', '附件地址', 19, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'remark', '备注', 20, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'stateName', '状态', 21, '1', '0', '1', '0', '2018-12-6 09:25:40', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'state', '明细状态id', 21, '1', '0', '1', '0', '2018-12-5 17:38:48', 'admin'),
            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'priceType', 'priceType', 33, '1', '0', '1', '0', '2018-12-6 09:16:39', 'admin')

            (replace(uuid(), '-', ''), 'saleOrderDetailByInvoice', 'count', '开票数量', 34, '1', '1', '1', '0', '2018-12-5 17:38:48', 'admin'),

    </insert>

</mapper>