<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：订单查询汇总 Mapper.xml
创建人：陈刚
创建时间：2018-12-28
 -->
<mapper namespace="com.xy.vmes.deecoop.sale.dao.SaleOrderByQueryMapper">
    <select id="findListPageOrderByQuery" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
        distinct
        saleOrder.id id,
        saleOrder.id parentId,
        saleOrder.company_id companyId,
        saleOrder.order_number orderNumber,
        saleOrder.sys_code sysCode,
        saleOrder.receipt_type receiptType,
        CASE
        WHEN saleOrder.receipt_type = '1' THEN '不开票'
        WHEN saleOrder.receipt_type = '2' THEN '增值税普通发票'
        WHEN saleOrder.receipt_type = '3' THEN '增值税专用发票'
        ELSE null
        END receiptTypeName,

        saleOrder.price_type priceType,
        saleOrder.state state,
        saleOrder.state orderStateByQuery,
        CASE
        WHEN saleOrder.state = '0' THEN '待提交'
        WHEN saleOrder.state = '1' THEN '待审核'
        WHEN saleOrder.state = '2' THEN '待出库'
        WHEN saleOrder.state = '3' THEN '待发货'
        WHEN saleOrder.state = '4' THEN '已发货'
        WHEN saleOrder.state = '5' THEN '已完成'
        WHEN saleOrder.state = '-1' THEN '已取消'
        ELSE null
        END stateName,
        saleOrder.make_id makeId,
        saleOrder.customer_id customerId,
        DATE_FORMAT(saleOrder.order_date,'%Y-%m-%d') orderDate,

        round(ifnull(saleOrder.total_sum, 0),2) totalSum,
        round(ifnull(saleOrder.discount_sum, 0),2) discountSum,
        round(ifnull(saleOrder.order_sum, 0),2) orderSum,
        round(ifnull(saleOrder.advance_sum, 0),2) advanceSum,

        saleOrder.cuser cuser,
        DATE_FORMAT(saleOrder.cdate,'%Y-%m-%d %T') cdate,
        saleOrder.uuser uuser,
        DATE_FORMAT(saleOrder.udate,'%Y-%m-%d %T') udate,
        saleOrder.remark remark,

        saleOrder.isdisable isdisable,
        DATE_FORMAT(saleOrder.expect_date,'%Y-%m-%d') expectDate,
        DATE_FORMAT(saleOrder.deliver_date,'%Y-%m-%d') deliverDate,
        DATE_FORMAT(saleOrder.pay_date,'%Y-%m-%d') payDate,

        makeUser.user_name makeName,
        customer.name customerName,
        <!--订单付款进度 付款明细表汇总 view_sale_receive_detail-->
        round(ifnull(receive.amount, 0),2) receiveSum,
        <!--付款进度百分比 (付款金额 / 订单金额 * 100) %-->
        CASE
          WHEN ifnull(saleOrder.order_sum, 0) = 0 THEN 0
          WHEN ifnull(saleOrder.order_sum, 0) <![CDATA[<>]]> 0 THEN round((ifnull(receive.amount, 0) / ifnull(saleOrder.order_sum, 0)) * 100, 0)
        ELSE null
        END receiveProgress,

        <!--发货金额-发货明细表汇总(1:已发货)-->
        round(ifnull(deliverDtl.deliverSum, 0), 2) deliverSum,
        round((ifnull(deliverDtl.deliverSum, 0) - ifnull(saleOrder.advance_sum, 0)), 2) receivables,

        <!--开票状态(未开票,开票中,开票完成)-->
        invoiceOrderTable.isInvoice

        from vmes_sale_order saleOrder
        left join vmes_customer customer on saleOrder.customer_id = customer.id
        left join vmes_user makeUser on saleOrder.make_id = makeUser.id
        left join vmes_sale_order_detail orderDetail on saleOrder.id = orderDetail.parent_id

        <!--付款明细表汇总 view_sale_receive_detail-->
        left join view_sale_receive_detail receive on saleOrder.id = receive.order_id

        <!--发货明细表汇总(1:已发货) vmes_sale_deliver_detail-->
        left join (
            select order_id, sum(sum) deliverSum
            from vmes_sale_deliver_detail
            where state = '1'
            group by order_id
        ) deliverDtl on saleOrder.id = deliverDtl.order_id

        <!--(订单id)汇总开票数量 模块查询条件-->
        left join (
            select
                orderCount.orderId,
                <!--汇总订购数量-->
                round(ifnull(orderCount.order_count, 0),2) orderCount,
                <!--汇总开票数量-->
                round(ifnull(invoiceOrder.order_count, 0),2) invoiceCount,
                CASE
                  <!--未开票: 开票数量 = 0 -->
                  WHEN ifnull(invoiceOrder.order_count, 0) = 0 THEN '未开票'
                  <!--开票中: 开票数量 > 0 and (开票数量 < 订购数量)-->
                  WHEN ifnull(invoiceOrder.order_count, 0) <![CDATA[>]]> 0 and (ifnull(invoiceOrder.order_count, 0) <![CDATA[<]]> ifnull(orderCount.order_count, 0)) THEN '开票中'
                  <!--开票完成: (开票数量 >= 订购数量)-->
                  WHEN ifnull(invoiceOrder.order_count, 0) <![CDATA[>=]]> ifnull(orderCount.order_count, 0) THEN '开票完成'
                ELSE null
                END isInvoice
            from (
                <!--(订单id)汇总订购数量-->
                select parent_id orderId, sum(order_count) order_count
                from vmes_sale_order_detail
                where parent_id in (
                    select id
                    from vmes_sale_order
                    <where>
                        <if test="currentCompanyId != null and currentCompanyId != ''">
                            and company_id = #{currentCompanyId}
                        </if>
                        and state <![CDATA[<>]]> '-1'
                    </where>
                )
                group by parent_id
            ) orderCount
                left join (
                    <!--(订单id)汇总开票数量-->
                    select orderDtl.parent_id orderId, sum(invoice.count) order_count
                    from (
                        select order_detail_id,count
                        from vmes_sale_invoice_detail
                        where parent_id in (
                            select id
                            from vmes_sale_invoice
                            <where>
                                <if test="currentCompanyId != null and currentCompanyId != ''" >
                                    and company_id = #{currentCompanyId}
                                </if>
                            </where>
                        ) and state <![CDATA[<>]]> '-1'
                    ) invoice left join vmes_sale_order_detail orderDtl on invoice.order_detail_id = orderDtl.id
                    group by orderDtl.parent_id
                ) invoiceOrder on orderCount.orderId = invoiceOrder.orderId
        ) invoiceOrderTable on saleOrder.id = invoiceOrderTable.orderId

        <where>
            <if test="currentCompanyId != null and currentCompanyId != ''" >
                and saleOrder.company_id = #{currentCompanyId}
            </if>
            <if test="state != null and state != ''" >
                and saleOrder.state = #{state}
            </if>
            <if test="orderDtlState != null and orderDtlState != ''" >
                and orderDetail.state = #{orderDtlState}
            </if>
            <if test="sysCode != null and sysCode != ''" >
                and saleOrder.sys_code = #{sysCode}
            </if>
            <if test="orderNumber != null and orderNumber != ''" >
                and saleOrder.order_number = #{orderNumber}
            </if>
            <if test="priceType != null and priceType != ''" >
                and saleOrder.price_type = #{priceType}
            </if>

            <!--模块查询条件-->
            <if test="customerName != null and customerName != ''">
                and customer.name LIKE CONCAT(CONCAT(#{customerName}),'%')
            </if>
            <if test="receiptType != null and receiptType != ''" >
                and saleOrder.receipt_type = #{receiptType}
            </if>
            <if test="orderDateBegin != null and orderDateBegin != ''">
                <![CDATA[ and saleOrder.order_date >= #{orderDateBegin} ]]>
            </if>
            <if test="orderDateEnd != null and orderDateEnd != ''">
                <![CDATA[ and saleOrder.order_date <= #{orderDateEnd} ]]>
            </if>

            <!--过滤(允许生成发货单)-->
            <!--(0:待提交 1:待审核 2:待生产 3:待出库 4:待发货 5:已发货 6:已完成 -1:已取消)-->
            <if test="'true' == isNeedDeliver">
                and (detail.is_lock_warehouse = '1' and detail.state = '3')
            </if>

            <!--queryStr 自定义sql查询语句-->
            <if test="queryStr != null and queryStr != ''" >
                and ${queryStr}
            </if>

        </where>
        <if test="orderStr != null and orderStr != ''" >
            order by ${orderStr}
        </if>
    </select>

    <insert id="insertColumn" >
        delete from vmes_column where model_code = 'saleOrderByQuery' ;
        insert into vmes_column (
        id,model_code,title_key,title_name,serial_number,
        isdisable,ishide,isedit,ismust,cdate,
        cuser
        ) VALUES
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'id', 'id', 0, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'parentId', '订单id', 0, '1', '0', '1', '0', '2018-12-5 17:35:26', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'orderNumber', '订单编号', 1, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'sysCode', '订单编号', 2, '1', '1', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'customerName', '客户名称', 3, '1', '1', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'customerId', '客户id', 3, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'orderDate', '下单日期', 4, '1', '1', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'deliverDate', '交付日期', 5, '1', '1', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'expectDate', '约定交期', 5, '1', '1', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'makeName', '制单人', 6, '1', '1', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'makeId', '制单人id', 6, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'stateName', '订单状态', 7, '1', '1', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'state', '订单状态id', 7, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'remark', '备注', 8, '1', '1', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'companyId', '企业ID', 9, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'priceType', '计价类型(1:先计价 2:后计价)', 10, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'receiptType', '发票类型id', 11, '1', '0', '1', '0', '2018-12-6 10:53:24', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'receiptTypeName', '发票类型', 12, '1', '0', '1', '0', '2018-12-6 10:53:24', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'totalSum', '合计金额', 13, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'discountSum', '折扣金额', 14, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'orderSum', '订单金额(合计金额 - 折扣金额)', 15, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'advanceSum', '预付款', 16, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'deliverSum', '发货金额', 16, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'receivables', '应收款(发货金额-预付款)', 17, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'cuser', '创建用户id', 18, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'cdate', '创建时间', 19, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'uuser', '修改用户id', 20, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'udate', '修改时间', 21, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'isdisable', '是否启用(0:已禁用 1:启用)', 22, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'orderStateByQuery', '订单状态', 7, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'receiveProgress', '付款进度', 7, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin'),
        (replace(uuid(), '-', ''), 'saleOrderByQuery', 'isInvoice', '开票状态', 7, '1', '0', '1', '0', '2018-12-5 17:01:51', 'admin')

    </insert>

</mapper>