<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
创建人：陈刚
创建时间：2018-07-20
 -->
<mapper namespace="com.xy.vmes.deecoop.dao.UserMapper">

    <!--表名 -->
    <sql id="tableName">
	vmes_user
    </sql>

    <!-- 字段 -->
    <sql id="Field">
		employ_id employId,<!-- 员工ID -->
		company_id companyId,<!-- 公司ID-组织架构 -->
		user_code userCode,<!-- 账号(系统登录账号) -->
		password password,<!-- 密码(MD5加密) -->
		open_id openId,<!-- 用户微信ID -->
		user_name userName,<!-- 姓名 -->
		isdisable isdisable,<!-- 是否禁用(1:已禁用 0:启用) 数据字典:sys_isdisable -->
		cdate cdate,<!-- 创建时间 -->
		cuser cuser,<!-- 创建人账号 -->
		udate udate,<!-- 修改时间 -->
		uuser uuser,<!-- 修改人账号 -->
		column_1 column1,<!-- 预留字段 -->
		column_2 column2,<!-- 预留字段 -->
		column_3 column3,<!-- 预留字段 -->
		id id <!-- id -->
    </sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{employId},<!-- 员工ID -->
		#{companyId},<!-- 公司ID-组织架构 -->
		#{userCode},<!-- 账号(系统登录账号) -->
		#{password},<!-- 密码(MD5加密) -->
		#{openId},<!-- 用户微信ID -->
		#{userName},<!-- 姓名 -->
		#{isdisable},<!-- 是否禁用(1:已禁用 0:启用) 数据字典:sys_isdisable -->
		#{cdate},<!-- 创建时间 -->
		#{cuser},<!-- 创建人账号 -->
		#{udate},<!-- 修改时间 -->
		#{uuser},<!-- 修改人账号 -->
		#{column1},<!-- 预留字段 -->
		#{column2},<!-- 预留字段 -->
		#{column3},<!-- 预留字段 -->
		#{id} <!-- id -->
    </sql>


    <!-- 字段值 -->
    <sql id="Column">
        '员工ID'  employId,
        '公司ID-组织架构'  companyId,
        '账号(系统登录账号)'  userCode,
        '密码(MD5加密)'  password,
        '用户微信ID'  openId,
        '姓名'  userName,
        '是否禁用(1:已禁用 0:启用) 数据字典:sys_isdisable'  isdisable,
        '创建时间'  cdate,
        '创建人账号'  cuser,
        '修改时间'  udate,
        '修改人账号'  uuser,
        '预留字段'  column1,
        '预留字段'  column2,
        '预留字段'  column3,
        'id' id
    </sql>

    <!-- 通过ID获取数据 -->
    <select id="findColumnList"  resultType="java.util.LinkedHashMap">
        select
        <include refid="Column"></include>
        from dual
    </select>

    <!-- 通过ID获取数据 -->
    <select id="findDataList"  parameterType="com.yvan.PageData"  resultType="java.util.Map">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        <if test="PageData!= null"><!-- 关键词检索 -->
            where 1=1
            <if test="PageData.keywords!= null and PageData.keywords != ''"><!-- 关键词检索 -->
                and
                (
                <!--	根据需求自己加检索条件
						字段1 LIKE CONCAT(CONCAT('%', #{PageData.keywords}),'%')
						 or
						字段2 LIKE CONCAT(CONCAT('%', #{PageData.keywords}),'%')
					-->
                )
            </if>
        </if>
    </select>


    <!-- 新增-->
    <insert id="save" parameterType="com.xy.vmes.entity.User">
        insert into
        <include refid="tableName"></include>
        (
        <include refid="Field"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>

    <!-- 删除-->
    <delete id="delete" parameterType="com.xy.vmes.entity.User">
        delete from
        <include refid="tableName"></include>
        where
        id = #{id}
    </delete>

    <!-- 修改 -->
    <update id="update" parameterType="com.xy.vmes.entity.User">
        update
        <include refid="tableName"></include>
        set
		employ_id = #{employId}, <!-- 员工ID -->
		company_id = #{companyId}, <!-- 公司ID-组织架构 -->
		user_code = #{userCode}, <!-- 账号(系统登录账号) -->
		password = #{password}, <!-- 密码(MD5加密) -->
		open_id = #{openId}, <!-- 用户微信ID -->
		user_name = #{userName}, <!-- 姓名 -->
		isdisable = #{isdisable}, <!-- 是否禁用(1:已禁用 0:启用) 数据字典:sys_isdisable -->
		cdate = #{cdate}, <!-- 创建时间 -->
		cuser = #{cuser}, <!-- 创建人账号 -->
		udate = #{udate}, <!-- 修改时间 -->
		uuser = #{uuser}, <!-- 修改人账号 -->
		column_1 = #{column1}, <!-- 预留字段 -->
		column_2 = #{column2}, <!-- 预留字段 -->
		column_3 = #{column3}, <!-- 预留字段 -->
        id = #{id}
        where
        id = #{id}
    </update>

    <!-- 通过ID获取数据 -->
    <select id="findById" parameterType="com.yvan.PageData" resultType="com.xy.vmes.entity.User">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        id = #{id}
    </select>

    <!-- 列表 -->
    <select id="datalistPage" parameterType="com.yvan.PageData" resultType="com.xy.vmes.entity.User">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        <if test="PageData!= null"><!-- 关键词检索 -->
            where 1=1
            <if test="PageData.keywords!= null and PageData.keywords != ''"><!-- 关键词检索 -->
                and
                (
                <!--	根据需求自己加检索条件
						字段1 LIKE CONCAT(CONCAT('%', #{PageData.keywords}),'%')
						 or
						字段2 LIKE CONCAT(CONCAT('%', #{PageData.keywords}),'%')
					-->
                )
            </if>
        </if>
    </select>

    <!-- 列表(全部) -->
    <select id="dataList" parameterType="com.yvan.PageData" resultType="com.xy.vmes.entity.User">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        <if test="PageData!= null"><!-- 关键词检索 -->
            where 1=1
            <if test="PageData.keywords!= null and PageData.keywords != ''"><!-- 关键词检索 -->
                and
                (
                <!--	根据需求自己加检索条件
						字段1 LIKE CONCAT(CONCAT('%', #{PageData.keywords}),'%')
						 or
						字段2 LIKE CONCAT(CONCAT('%', #{PageData.keywords}),'%')
					-->
                )
            </if>
        </if>
    </select>

    <!-- 批量删除 -->
    <delete id="deleteByIds" parameterType="String">
        delete from
        <include refid="tableName"></include>
        where
        id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
		#{item}
        </foreach>
    </delete>

</mapper>