<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.xy.vmes.deecoop.warehouse.dao.WarehouseInWarehouseProductMapper">
    <!--
    说明：获取全部货位信息，同时带出仓库货位存放货品信息
    (vmes_warehouse:仓库货位表-vmes_warehouse_product:仓库货位产品库存表)

    创建人：陈刚
    创建时间：2018-11-06
     -->
    <select id="findAllListWarehouse" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
            warehouse.id,
            warehouse.code,
            warehouse.name,
            warehouse.warehouseName,
            warehouse.path_name pathName,
            warehouse.path_id pathId,
            warehouse.layer,
            warehouse.serial_number serialNumber,
            warehouse.is_simple isSimple,

            warehouseProduct.product_id productId,
            warehouseProduct.warehouse_id warehouseId,
            warehouseProduct.stock_count stockCount,
            warehouseProduct.productCode,
            warehouseProduct.productName,
            warehouseProduct.productNameEn,
            warehouseProduct.productSpec,
            warehouseProduct.productGenre,
            warehouseProduct.productType,
            warehouseProduct.productUnit,
            warehouseProduct.productUnitName,
            warehouseProduct.productTypeName,
            warehouseProduct.productGenreName
        from (
            select a.id,a.code,a.name,b.name warehouseName,a.path_name,a.path_id,a.layer,a.serial_number,a.is_simple
            from vmes_warehouse a
                left join vmes_warehouse b on a.warehouse_id = b.id
            <where>
                <if test="notInWarehouseIds != null and notInWarehouseIds != ''" >
                    and a.id not in (${notInWarehouseIds})
                </if>
                <if test="companyId != null and companyId != ''" >
                    and a.company_id=#{companyId}
                </if>

                <!--备件库 自定义sql查询语句-->
                <if test="'true' == isNeedSpare">
                    and a.name = '备件库'
                </if>
                <if test="'true' == isNotNeedSpare">
                    <![CDATA[ and a.name <> '备件库' ]]>
                </if>

                and a.isdisable = '1'
            </where>
        ) warehouse left join (
            select
                a.product_id,a.warehouse_id,a.stock_count,
                b.code productCode,
                b.name productName,
                b.name_en productNameEn,
                b.spec productSpec,
                b.genre productGenre,
                b.type productType,
                produnit.unit productUnit,
                unit.name productUnitName,
                type.name productTypeName,
                genre.name productGenreName
            from (
                select product_id,warehouse_id,round(sum(ifnull(stock_count,0)), 2) stock_count
                from vmes_warehouse_product
                <where>
                    <if test="productId != null and productId != ''" >
                        and product_id=#{productId}
                    </if>
                    <if test="companyId != null and companyId != ''" >
                        and company_id=#{companyId}
                    </if>
                </where>
                group by product_id,warehouse_id
            ) a
                left join vmes_product b on a.product_id = b.id
                left join vmes_product_unit produnit on produnit.product_id = b.id and produnit.type = 1
                left join vmes_dictionary unit on produnit.unit = unit.id
                left join vmes_dictionary genre on b.genre = genre.id
                left join vmes_dictionary type on b.type = type.id
            where b.isdisable = '1'
                <if test="productType != null and productType != ''" >
                    and b.type=#{productType}
                </if>
        ) warehouseProduct on warehouse.id = warehouseProduct.warehouse_id

        <where>
            <if test="isExistProd != null and isExistProd != ''" >
                <choose>
                    <when test="'true' == isExistProd">
                        and warehouseProduct.product_id is not null
                    </when>
                    <otherwise>
                        and warehouseProduct.product_id is null
                    </otherwise>
                </choose>
            </if>

            <if test="productId != null and productId != ''" >
                and warehouseProduct.product_id = #{productId}
            </if>
            <if test="productType != null and productType != ''" >
                and warehouseProduct.productType = #{productType}
            </if>

            <!--nodeId 树形结构指定节点id 自定义sql查询语句-->
            <if test="nodeId != null and nodeId != ''" >
                and warehouse.path_id LIKE CONCAT(CONCAT('%', #{nodeId}),'%')
            </if>
            <!--queryStr 自定义sql查询语句-->
            <if test="queryStr != null and queryStr != ''" >
                and ${queryStr}
            </if>
        </where>
        <if test="orderStr != null and orderStr != ''" >
            order by ${orderStr}
        </if>
    </select>


</mapper>